<!--
Display list of points received with reason/behavior
-->

<dom-module id="points-log">
  <template>
    <style>
      :host {
        display: block;
        margin:10px auto 30px;
      }
      td,th{
        min-width: 50px;
        padding:16px 24px;
      }
      td:first-child,th:first-child{
        width:50px;
      }
      td:last-child,th:last-child{
        width:50px;
        text-align: center;
      }
      tr{
        border-bottom:1px solid #ddd;
      }
      tr:nth-of-type(even),thead{
        background-color:#fff;
      }
      table{
        width:100%;
      }
      th{
        font-weight: bold;
      }
      paper-button{
        width:100%;
        margin:0;
        padding:16px 0;
        color:var(--default-primary-color);
      }
      tr:last-child td{
        padding:0;
      }
      paper-material{
        background-color: #fff;
      }
      @media (max-width: 700px) {
        td,th{
          font-size: 12px;
          padding: 12px;
        }
      }
    </style>
    <div hidden="{{empty}}">
      <firebase-collection
        location="{{ref}}"
        data="{{items}}"
        order-by-child="date"
        limit-to-last="{{limit}}">
      </firebase-collection>
      
      <h2>Latest Points</h2>
      <paper-material elevation="1">
        <table>
          <thead>
            <th>Date</th>
            <th>Reason</th>
            <th>Points</th>
          </thead>
          <template is="dom-repeat" items="{{items}}" sort="_sort">
            <tr>
              <td>{{_getDate(item.date)}}</td>
              <td>{{_getReason(item)}}</td>
              <td>{{item.value}}</td>
            </tr>
          </template>
        </table>
        <paper-button class="block" disabled="{{_hide(count)}}" on-tap="_viewAll">View {{text}}</paper-button>
      </paper-material>
    </div>
    
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'points-log',

      properties: {
        gameId:{
          type:String
        },
        userId: {
          type: String
        },
        ref:{
          type: String,
          computed:'_getRef(gameId,userId)',
        },
        limit:{
          type:Number,
          value:5,
        },
        text:{
          type: String,
          value: 'all'
        },
        empty:{
          type: Boolean,
          notify:true
        }
      },

      observers:[
        '_getCount(ref)'
      ],

      // Detect whether list is empty
      _getCount:function(ref){
        var count;
        var scope = this;
        var logs = new Firebase(ref);
        logs.on("value",function(snap){
          if(!snap.exists()){
            scope.set('count',0);
            scope.set('empty',true);
          }
          else{
            count = snap.numChildren();
            scope.set('count',count);
            scope.set('empty',false);
          }
        });
      },

      // DB: list of points received
      _getRef:function(gameId,userId){
        return 'radiant-torch-7856.firebaseIO.com/logs/' + gameId + '/' + userId;
      },

      // Convert date to mm/dd/yyyy format
      _getDate:function(date){
        var date = new Date(date);
        var year = date.getFullYear();
        var month = date.getMonth();
        var day = date.getDate();
        return month + '/' + day + '/' + year;
      },

      // list behavior or reason
      _getReason:function(item){
        if(item.behaviorName){
          return item.behaviorName;
        }
        else{
          return item.comment;
        }
      },

      // show all rows
      _viewAll:function(){
        var limit = this.limit;
        if(limit == 5){
          this.set('limit',null);
          this.set('text', 'latest');
        }
        else{
          this.set('limit',5);
          this.set('text', 'all')
        }
      },

      // show only latest rows
      _hide:function(count){
        if(count < 6){
          return true;
        }
        else{
          return false
        }
      },

    //sort points by date
    _sort:function(a, b) {
      if (a.date === b.date) return 0;
      return a.date > b.date ? -1 : 1;
    }

    });
  })();
  </script>
</dom-module>
