<!--
Paper card with quest details
-->
<script type="text/javascript" src="../../plugins/cytoscape.min.js"></script>

<dom-module id="quest-item">
  <template>
    <style>
      :host {
        display: inline-block;
        width:300px;
        margin: 20px;
        vertical-align: top;
      }
      .card-actions{
        display:flex;
        justify-content:flex-end;
      }
      paper-card{
        --paper-card-header-color:#fff;
        --paper-card-header:{
          font-family: 'Roboto Condensed', sans-serif;
        }
        --paper-card-header-text:{
          text-shadow: 4px 3px 3px rgba(0,0,0,.7),
            3px 2px 2px rgba(0,0,0,.9),
            -1px -1px 0 rgba(0,0,0,.6),
             1px -1px 0 rgba(0,0,0,.6),
            -1px 1px 0 rgba(0,0,0,.6),
             1px 1px 0 rgba(0,0,0,.6);
          font-size:30px;
        }
      }
      paper-button{
        color:var(--default-primary-color);
      }
    </style>
    <firebase-document
      location="{{ref}}"
      data="{{quest}}">
    </firebase-document>
     <paper-card class="quest" heading="{{quest.name}}" image="{{quest.pic}}">
      <div class="card-content">
        <p>{{quest.desc}}</p>
      </div>
      
      <div class="card-actions">
      <!-- edit options for game master -->
      <template is="dom-if" if="[[admin]]">
          <paper-icon-button icon="create" alt="Edit Quest" title="Edit Quest" on-tap="_edit"></paper-icon-button>
          <paper-icon-button icon="delete" alt="Delete Quest" title="Delete Quest" on-tap="_remove"></paper-icon-button>
          <paper-icon-button icon="assessment" alt="View Quest Statistics" title="View Quest Statistics" on-tap="stats"></paper-icon-button>
      </template>
      <span class="flex"></span>
      <paper-button on-tap="_view" alt="Go to Quest" title="Go to Quest">View</paper-button>
      </div>
    </paper-card>
  </template>
  <script>
  (function() {

    Polymer({
      is: 'quest-item',

      properties: {
        questId:{
          type:String
        },
        ref:{
          computed: '_getQuest(questsRef,questId)'
        },
        questsRef:{
          type:String,
          value:'radiant-torch-7856.firebaseIO.com/quests/'
        },
        admin:{
          type:Boolean,
          value:false
        },
        itemId:{
          type:String,
          notify:true
        }
      },

      // Get quest data
      _getQuest:function(questsRef, questId){
        return questsRef + questId;
      },

      // Delete quest
      _remove:function(){
        if(confirm('Are you sure you want to delete this quest?')){
          var quests = new Firebase(this.questsRef);
          var quest = this.questId;
          quests.child(quest).remove(function(error){
            if(error){
              console.log(error);
            }
            else{
              badges.child(quest).remove();
            }
          });
        }
      },

      // Edit quest
      _edit:function(){

        app.questId = this.questId;

        var dialog = document.getElementById('add-quest');
        if (dialog) {
          dialog.open();
        }

      },

      // View quest completion (game master)
      stats:function(){
        app.questId = this.questId;
        this.itemId = this.questId;

        var quest = this.quest;
        $('#quest-status-list h2').html(quest.name);

        var dialog = document.getElementById('quest-status-list');
        
        if (dialog) {
          dialog.open();
        }
      },

      // View quest (opens quest map)
      _view:function(){
        app.questId = this.questId;
        var compTotal = 0; 
        var admin = this.admin;

        activities.orderByChild('quest').equalTo(this.questId).on('value',function(snap){
          // content to display if quest empty
          if(!snap.exists()){
            if(admin  === true){
              $('#map').html('<p class="empty">Click the + to add an activity</p>');
            }
            else{
              $('#map').html('<p class="empty">This quest does not have any activities yet.</p>');
            }
          }
          else{
            $('#map').html('');
            var items = [];
            var paths =[];
            snap.forEach(function(i){

              // Get user's completion status on activity
              var status = 'incomplete';
              if(!this.master){
                var myStatus = i.child('status/'+me);
                if(myStatus.val() === 'confirmed'){
                  status = 'complete';
                  compTotal++;
                }
              }

              // Get activity data as node
              var item = i.val();
              var key = i.key();
              var id = {'id':key};
              $.extend(item,id);
              items.push({'data':item,'classes':status});
              
              // Create path based on activity's parent(s)
              activities.child(key).child('parents').once('value',function(snap){
                snap.forEach(function(p){
                  var parent = p.key();
                  var pstatus;

                  activities.child(parent + '/status/' + me).on('value',function(s){
                    if(s.val() == 'confirmed' && status == 'complete'){
                      pstatus = 'complete'
                    }
                  })

                  var curve = Math.floor(Math.random() * 101) - 50;
                  paths.push({'data':{'source':parent,'target':key, 'curve':curve},'classes':pstatus,'group':'edges'});
                });
              });

            });

            mapQuest(items,paths);
          }

          app.route = 'map';
          $('#quest-map').show(function(){
            $('paper-drawer-panel').hide();
          });
          
        }); // End Activities

        
      
      } //End View

    });
  })();
  </script>
</dom-module>
