<!--
Item containing name of game player is invited to player, and action buttons to accept or decline invite.
-->
<dom-module id="pending-item">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
     <firebase-document
      location="{{gameRef}}"
      data="{{game}}">
    </firebase-document>
    <paper-item id="[[gameId]]">
      <span>[[game.name]]</span>
      <paper-icon-button class="right accept success" icon="check" alt="Accept" title="Accept invite" on-tap="accept"></paper-icon-button>
      <paper-icon-button class="right decline error" icon="block" alt="Decline" title="Decline invite" on-tap="decline"></paper-icon-button>
    </paper-item>
  </template>
  <script>
  (function() {

    Polymer({
      is: 'pending-item',

      properties: {
        gameId: {
          type: String,
        },
        gameRef:{
          computed: '_getGame(gameId)'
        },
        email:{
          type: String
        },
        uid:{
          type: String
        },
        username:{
          type: String
        }
      },

      // Get game name
      _getGame:function(gameId){
        return 'radiant-torch-7856.firebaseIO.com/games/' + gameId;
      },

      // Accept invitation and add to list of player's games
      accept:function(e){
        var games = new Firebase('radiant-torch-7856.firebaseIO.com/games');
        var invitees = new Firebase('radiant-torch-7856.firebaseIO.com/invitees'); 
        var game = this.gameId;   
        var username = this.username;    

        games.child(game+'/players/'+this.uid).set(this.email, function(error){
          if(error){
            alert('Invite could not be accepted: '+error);
          }
          else{
            invitees.child(game+'/'+username).remove();
          }
        });
      },

      // Decline invite and remove from pending list
      decline:function(e){
        var invitees = new Firebase('radiant-torch-7856.firebaseIO.com/invitees'); 
        invitees.child(this.gameId).child(this.username).remove();
      },

    });
  })();
  </script>
</dom-module>
