<!--
List of quests in current game
-->
<dom-module id="quest-list">
  <template>
    <style>
      :host {
        display: block;
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
      }
      paper-dialog{
        width:560px;
      }
      .close{
        padding:8px;
        margin:0;
        display: inline-block;
        position:absolute;
        top:0;
        right:0;
        z-index: 15;
      }
      @media (max-width: 600px) {
        paper-dialog{
          width:100vw;
          min-height:100vh;
          margin:0;
          overflow: auto;
        }
      }
    </style>
    <!-- Get list of quests -->
    <firebase-collection
      location="radiant-torch-7856.firebaseIO.com/quests"
      order-by-child="game"
      equal-to="{{gameId}}"
      data="{{quests}}">
    </firebase-collection>

    <!-- instructions to show if game has no quests -->
    <div hidden="{{!empty}}">
      <div hidden="{{!admin}}">
        <h2>What is a Quest?</h2>
        <p>A quest is a challenge or exploration consistenting of multiple steps. To gamify your class, create a quest for each unit of study by mapping out your content, activities, and assessments with the learning targets/standard as the final goal.
        <h2>What Makes a Quest Effective?</h2>
        <p>An effective quest provides players with choice and greater purpose; some ways to do this include:
          <ul>
            <li>providing multiple types of content to learn from, e.g. text, videos, simulations, etc.</li>
            <li>allowing students to choose how they demonstrate their learning, e.g. writing a paper versus making a video</li>
            <li>having paths based on difficulty, e.g. content varied by reading level</li>
            <li>creating activities and project-based assessments that have real-world applications</li>
          </ul>
        </p>
        <h2>Getting Started</h2>
        <p>To create your first quest, click the '+' button.</p>
      </div>
      <div hidden="{{admin}}">
        <p>There are currently no quests available.</p>
      </div>
    </div>
    <!-- list of quests -->
    <template is="dom-repeat" items="{{quests}}" as="quest">
      <quest-item quest-id="{{quest.__firebaseKey__}}" admin="{{admin}}" item-id="{{itemId}}" on-dom-change="count"></quest-item>      
    </template>

    <!-- view quest completion status dialog -->
    <paper-dialog id="quest-status-list" on-iron-overlay-closed="_reset" entry-animation="scale-up-animation" exit-animation="scale-down-animation" with-backdrop>
      <h2></h2>
      <paper-icon-button class="close" icon="close" dialog-dismiss></paper-icon-button>
      <status-list item-id="{{itemId}}" item-type="quests" removeable="false" game-id="{{gameId}}"></status-list>
    </paper-dialog>
  </template>
  <script>
  (function() {

    Polymer({
      is: 'quest-list',

      properties: {
        gameId: {
          type: String
        },
        itemId:{
          type: String
        },
        admin:{
          type: Boolean
        },
        quests:{
          value:''
        },
        empty:{
          value:true
        }
      },

      observers:[
        'count(gameId)'
      ],

      // Detect if game has quests
      count:function(gameId){
        var count = this.quests.length;
        if(count == 0){
          this.set('empty', true);
        }
        else{
          this.set('empty',false);
        }
      },

      // Reset quest status dialog on close
      _reset:function(){
        app.questId = null;
      }

    });
  })();
  </script>
</dom-module>
