<!--
List of players in current game
-->
<dom-module id="player-list">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-checkbox{
        min-width: 350px;
      }
    </style>
    <firebase-collection
      location="{{ref}}"
      order-by-key
      data="{{players}}">
    </firebase-collection>
      <!-- display player item with checkbox -->
      <template is="dom-if" if="{{selectable}}">
        <template is="dom-repeat" items="{{players}}" as="player" sort="_sort">
          <paper-checkbox id="{{player.__firebaseKey__}}" checked="[[checked]]">
            <player-item game-id="{{gameId}}" user-id="{{player.__firebaseKey__}}" removeable="{{removeable}}"></player-item>
          </paper-checkbox>
        </template>
      </template>
      <!-- display player item without checkbox -->
      <template is="dom-if" if="{{!selectable}}">
        <template is="dom-repeat" items="{{players}}" as="player" sort="_sort">
          <player-item game-id="{{gameId}}" user-id="{{player.__firebaseKey__}}" removeable="{{removeable}}"></player-item>
        </template>
      </template>
  </template>
  <script>
  (function() {

    Polymer({
      is: 'player-list',

      properties: {
        gameId: {
          type: String
        },
        ref:{
          computed:'_getPlayers(gameId)'
        },
        empty:{
          type: Boolean,
        },
        selectable:{
          type:Boolean,
          value:false
        }
      },

      // Get list of players
      _getPlayers: function(gameId){
        return 'radiant-torch-7856.firebaseIO.com/games/' + gameId +'/players';
      },

      // Sort players alphabetically by email
      _sort:function(a, b) {
        if (a.value === b.value) return 0;
        return a.value < b.value ? -1 : 1;
      }
      
    });
  })();
  </script>
</dom-module>
