<!--
Overlay with quest map and add-activity FAB
-->
<dom-module id="quest-view">
  <template>
    <style>
      :host {
        display: block !important;
        color:#fff;
      }
      #map{
        width:100vw;
        height:100vh;
        height:calc(100vh - 120px);
        padding:20px;
        position: fixed;
      }
      iron-icon{
        margin:10px;
        width:30px;
        height:30px;
      }
      h1{
        margin:0;
        padding:20px;
      }
    </style>
    <!-- DB: Quest data -->
    <firebase-document
      location="{{ref}}"
      data="{{quest}}">
    </firebase-document>

    <span class="right" on-tap="_close"><iron-icon icon="highlight-off" alt="Close quest map"></iron-icon></span>

    <header class="center">
      <h1>{{quest.name}}</h1>
      <span>{{quest.desc}}</span>
    </header>

    <!-- quest map created by map.js -->
    <div id="map"></div>

    <!-- button to add activity to quest (game master) -->
    <template is="dom-if" if="{{admin}}">
      <add-activity activity-id="{{activityId}}" quest-id="{{questId}}"></add-activity>
    </template>
  </template>
  <script>
  (function() {

    Polymer({
      is: 'quest-view',

      properties: {
        questId: {
          type: String,
          notify:true
        },
        ref:{
          computed: '_getQuest(questsRef,questId)'
        },
        questsRef:{
          type:String,
          value:'radiant-torch-7856.firebaseIO.com/quests/'
        },
        activityId:{
          type:String
        }
      },

      // Get quest data
      _getQuest:function(questsRef, questId){
        return questsRef + questId;
      },

      // Empty quest map on close
      _close:function(){
        $('quest-view').hide(function(){
          app.questId = null;
          app.route='game';
        })
        $('paper-drawer-panel').show(function(){
          $('#quest-map').hide();
        })

        unmap();
      }

    });
  })();
  </script>
</dom-module>
