<!-- Iron elements -->
<link rel="import" href="../bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/iron-autogrow-textarea/iron-autogrow-textarea.html">
<link rel="import" href="../bower_components/iron-checked-element-behavior/iron-checked-element-behavior.html">
<link rel="import" href="../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">

<!-- Paper elements -->
<link rel="import" href="../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles-classes.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">

<!-- Animations -->
<link rel="import" href="../bower_components/neon-animation/neon-animation.html">

<!-- offline -->
<link rel="import" href="../bower_components/platinum-sw/platinum-sw-cache.html">
<link rel="import" href="../bower_components/platinum-sw/platinum-sw-register.html">

<!-- Gold elements -->
<link rel="import" href="../bower_components/gold-email-input/gold-email-input.html">

<!-- Firebase elements -->
<link rel="import" href="../bower_components/firebase-element/firebase.html">
<link rel="import" href="../bower_components/firebase-element/firebase-auth.html">
<link rel="import" href="../bower_components/firebase-element/firebase-collection.html">
<link rel="import" href="../bower_components/firebase-element/firebase-document.html">

<!-- Routing -->
<link rel="import" href="routing.html">

<!-- Custom Elements -->
<link rel="import" href="../styles/app-theme.html">
<link rel="import" href="game-list/game-list.html">
<link rel="import" href="delete-class/delete-class.html">
<link rel="import" href="invited-list/invited-list.html">
<link rel="import" href="pending-list/pending-list.html">
<link rel="import" href="player-list/player-list.html">
<link rel="import" href="player-item/player-item.html">
<link rel="import" href="pending-item/pending-item.html">
<link rel="import" href="quest-view/quest-view.html">
<link rel="import" href="quest-item/quest-item.html">
<link rel="import" href="quest-list/quest-list.html">
<link rel="import" href="add-quest/add-quest.html">
<link rel="import" href="login-button/login-button.html">
<link rel="import" href="add-activity/add-activity.html">
<link rel="import" href="activity-item/activity-item.html">
<link rel="import" href="home-view/home-view.html">
<link rel="import" href="logout-button/logout-button.html">
<link rel="import" href="add-game/add-game.html">
<link rel="import" href="status-list/status-list.html">
<link rel="import" href="status-item/status-item.html">
<link rel="import" href="game-settings/game-settings.html">
<link rel="import" href="add-badge/add-badge.html">
<link rel="import" href="badge-list/badge-list.html">
<link rel="import" href="badge-item/badge-item.html">
<link rel="import" href="add-behavior/add-behavior.html">
<link rel="import" href="behavior-list/behavior-list.html">
<link rel="import" href="behavior-item/behavior-item.html">
<link rel="import" href="quick-add-points/quick-add-points.html">
<link rel="import" href="leaderboard-view/leaderboard-view.html">
<link rel="import" href="points-log/points-log.html">
<link rel="import" href="user-points/user-points.html">
<link rel="import" href="user-rank/user-rank.html">
<link rel="import" href="loading-overlay/loading-overlay.html">
<link rel="import" href="leaderboard-item/leaderboard-item.html">
<link rel="import" href="reset-prompt/reset-prompt.html">
<link rel="import" href="login-view/login-view.html">
