<script src="../../bower_components/page/page.js"></script>
<script>
  // Detect if Polyfill loaded
  window.addEventListener('WebComponentsReady', function() {
    var ref = new Firebase('radiant-torch-7856.firebaseIO.com/');

    // Go home if logged in or login page if not
    page('/', function () {
      if(ref.getAuth()){
        $('.focused').removeClass('focused');
        app.route = 'home';
      }
      else{
        page.redirect('/login');
      }
    });

    // Go to login page if not logged in
    page('/login', function(){
      if(ref.getAuth()){
        page.redirect("/");
      }
      else{
        $('.focused').removeClass('focused');
        app.route = 'login';
      }
    });

    // Go to game based on ID in URL
    page('/:game', function (data){
      // Detect whether user is logged in
      if(ref.getAuth()){
        authData = ref.getAuth();
        app.tab = 0;
        app.params = data.params;
        gameID = data.params.game;

        games.child(gameID).on('value', function(snapshot){
          if(snapshot.exists()){
            app.thisGame = snapshot.val();
            setGame(authData);
            app.route = 'game';
            $('.focused').removeClass('focused');
            $('[data-game="'+gameID+'"]').addClass('focused');
            document.getElementById('paperDrawerPanel').closeDrawer();
          }
          // Go home if no such game ID exists
          else{
            page.redirect('/');
            return false;
          }
        });
      }
      // Go home if not logged in
      else{
        page.redirect('/');
      }
      
    });

    // add #! before urls
    page({
      hashbang: true
    });

  });
</script>
