/* General styles */
body {
  background: #fafafa;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

.right{float:right;}
.left{float:left;}
.center{
	text-align:center;
	margin:auto;
}
.clear{clear:both;}
.clear-left{clear:left;}
.clear-right{clear:right;}

.scroll{
	overflow: auto;
}

a.style-scope{cursor:pointer;}

h2,h3,h4,h5,h6{
	clear:both;
	font-family: 'Roboto Condensed', sans-serif;
	display:block;
	width:100%;
	margin-top:0;
}

h1{
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
}

h2{
	font-size: 1.6em;
}

.link{
	cursor: pointer;
}

.divider-text{
	margin:20px 0;
	text-align:center;
	display:block;
}

.help-text{
	font-style: italic;
	display:block;
}

.helper-text{
	font-style: italic;
}

/* Home pages */

#login-screen, #home{
	display:flex;
	justify-content:center;
	align-items:center;
}

#login-screen > paper-material, #home > paper-material{
	width:auto;
	height:auto;
	margin:auto;
	background: #fff;
	padding:30px;
}

#login-screen > paper-material{
	text-align:center;
}

#home > paper-material h2{
	text-align: left;
}

#login-screen{
	background:#fff;
	z-index:100;
	width:100vw;
	height:100vh;
}

#home{
	z-index:90;
	background:#fff;
	height:calc(100vh);
	width:100vw;
}

/* Paper Cards and Dialogs */

paper-card.quest div.header, .landscape-wrap{
	height:150px;
	width:300px;
	overflow:hidden;
}

.square-wrap{
	width:15vw;
	height:15vw;
	min-width: 111px;
	min-height: 111px;
	overflow:hidden;
}
.square-wrap img{
	width:15vw;
	min-width: 111px;
	height:auto;
}

paper-card > div.header > img{
	width:100%;
	height:auto;
}

player-item.player-list, invited-list paper-card{
	width:100%;
	margin:1vh auto;
	font-size: 14px;
}

iron-autogrow-textarea{
	width:100%;
}

paper-dialog .buttons {
    border-top: 1px solid rgba(0,0,0,0.12);
}

paper-card{
	display: block;
}

paper-dialog paper-card{
	background: none !important;
}

/* Sidebar */

#drawer form{
	padding:7px 16px;
}

#drawer h3{
	padding-left:16px;
	margin:20px 0 0;
}

#mainToolbar #topBar{
	background:#880E4F;
	box-shadow:0px 4px 5px 0px rgba(0,0,0,0.3);
}

.app-name{
	font-size:16px;
}

.paper-toolbar .img-circle{
	height:40px;
	width:40px;
	margin:auto 10px auto 0;
}

/* Game Header */

#game-name{
	font-size:1.8em;
	text-align: center;
	margin:20px auto 0 30px;
}

#game-name span{
	padding:7px;
	border:1px solid;
}

#game-name:hover span{
	border-color:#fff;
}

.helper{
	visibility: hidden;
	width:20px;
	height:20px;
	margin-left:5px;
	margin-bottom:10px;
	display:inline-block;
}

#game-name:hover > .helper{
	visibility: visible;
}

paper-fab{
	position:fixed;
	bottom: 5vw;
	right:6vw;
}

status-list #checkboxLabel.paper-checkbox{
	width:100%;
}

.empty{
	font-size: 1.8em;
	text-align: center;
	margin-top:33vh;
	width:100%;
	display: block;
}

#drawer #mainContainer{
	background-color: #F5F5F5;
	border-right:1px solid rgba(0, 0, 0, 0.14);
}

badge-list.well{
	padding:16px;
	margin-bottom:40px;
}

.col{
	display:inline-block;
	vertical-align: top;
}

iron-autogrow-textarea{
	min-width: 270px;
	width: 100%;
}

iron-dropdown{
	margin-top:45px;
}

#sideMenu{
	margin-top:0;
}

add-game .floated-label-placeholder{
	display:none;
}

.container-fluid{
	padding:0;
}

#my-scores{
	width:100%;
	margin:0 0 30px;
	height:auto;
	padding:16px;

}

#toast{
	z-index: 999;
	text-align:center;
}

/* forms */
form .col:first-of-type{
	margin-right:30px;
}

textarea{
	border:1px solid !important;
	border-color:rgb(153,153,153) !important;
	font-size:12px !important;
	line-height: 16px !important;
	padding:8px !important;
}

label{
	font-size: 12px;
	font-weight: normal;
}

paper-dialog form paper-input-container{
	padding:0 0 24px;
}

.input-content.is-invalid.paper-input-container label{
	font-weight: bold;
}

paper-input-error{
	font-style: italic;
}

.focused{
  background-color:rgba(173, 20, 87, 0.12);
  opacity: 0.7;
  cursor:default !important;
}


 /* Media Queries */
@media (max-width: 601px) {
	#game-name{
		margin:.6em auto 0;
	}
}

@media (max-width: 400px) {
	paper-dialog{
	  width:100vw;
	  height:100vh;
	  margin:0 !important;
	  overflow: auto;
	}
	.col{
		width: 100%;
	}
		player-item *, invited-list *{
		font-size: 99% !important;
	}
	paper-tabs{
		font-size: 80%
	}
}




