<!-- 
Display behavior item
-->
<dom-module id="behavior-item">
  <template>
    <style>
      :host {
        display: block;
        margin-bottom:10px;
      }
      .card-content{
        display:flex;
        justify-content:space-between;
        text-align: left;
        vertical-align: center;
      }
      .details{
        font-size: 1.2em;
        padding:8px;
        text-align: left;
        flex-grow:2;
      }
      .points{
        padding: 8px 16px 8px 0;
        margin-right: 16px;
        border-right: 1px solid #ddd;
        flex-basis: 40px;
        text-align: center;
      }
      paper-card{
        border-left:8px solid;
        font-size: 12px;
      }
      paper-card.pos{
        border-left-color: var(--success-color);
      }
      paper-card.neg{
        border-left-color: var(--danger-color);
      }
      @media (max-width: 700px) {
        .icons{
          display:none;
        }
        .details{
          width:100%;
        }
      }
    </style>
    <!-- behavior details-->
    <firebase-document
      location="{{ref}}"
      data="{{behavior}}">
    </firebase-document>
    <!-- behaivor car with delete & award actions-->
    <paper-card class$="{{type}}">
      <div class="card-content">
        <span class="points"  on-tap="award">{{plus}}{{behavior.value}}</span>
        <span class="details" on-tap="award">{{behavior.name}}</span>
        <span class="icons">
          <paper-icon-button icon="delete" on-tap="delete"></paper-icon-button>
          <paper-icon-button icon="add-circle" on-tap="award"></paper-icon-button>
        </span>
      </div>
    </paper-card>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'behavior-item',

      properties: {
        ref:{
          computed: '_getBehavior(gameId,behaviorId)'
        },
        behaviorId:{
          type: String
        },
        selected:{
          type: String,
          reflectToAttribute:true,
          notify:true
        },
        gameId:{
          type: String
        },
        type:{
          type: String,
          value:'pos'
        }
      },

      observers:[
        '_getValue(behavior.value)'
      ],

      // Get behavior info
      _getBehavior:function(gameId,behaviorId){
        return 'radiant-torch-7856.firebaseIO.com/behaviors/' + gameId + '/' + behaviorId;
      },

      // Get point value of behavior
      _getValue:function(value){
        var value =  Number(value);
        if(value > 0){
          this.set('plus','+');
          this.set('type','pos');
        }
        else{
          this.set('plus','');
          this.set('type','neg');
        }
      },

      // Open award dialog with this behavior pre-selected
      award:function(){
        this.set('selected',this.behaviorId);
        var dialog = document.getElementById('award-behavior');
        
        if (dialog) {
          dialog.open();
        }
      },

      // Delete this behavior
      delete:function(){
        if(confirm('Are you sure you want to delete this behavior?')){
          behaviors.child(this.gameId +'/'+this.behaviorId).remove();
        }
      },

    });
  })();
  </script>
</dom-module>
