<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="user-rank">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <span>{{rank}}</span>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'user-rank',

      properties: {
        gameId:{
          type: String
        },
        userId:{
          type: String
        },
        display:{
          type: String,
          value:'number'
        },
        rank:{
          computed:'_getRank(gameId,userId,display)'
        },
      },

      // Get user's rank
      _getRank:function(gameId,userId,display){
        var rank;

        rankings.child(gameId+'/'+userId+'/rank').on("value",function(r){
            rank = r.val();
        });
        console.log(rank);
        return rank;
      }

    });
  })();
  </script>
</dom-module>
