<!--
Form to add a new game. Appears on home page and sidebar for game masters.
-->
<dom-module id="add-game">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <form class="clear-left" is="iron-form" on-submit="addGame" id="{{formId}}">
      <paper-input is="iron-input" allowed-pattern="[ a-zA-Z0-9]" maxlength="25" label="{{label}}" value="{{newName}}" name="new-game-name" placeholder="e.g. Astronomy 101" invalid="{{invalid}}">
        <paper-icon-button suffix on-tap="addGame" icon="add" alt="add" title="Add" class="primary" disabled="{{invalid}}">
        </paper-icon-button>
      </paper-input>
    </form>
  </template>
  <script>
  (function() {

    Polymer({
      is: 'add-game',

      properties: {
        formId:{
          type: String,
          observer:'getLabel',
        },
      },

      // Show label on home page
      getLabel:function(){
        if(this.formId != 'add-game-aside'){
          this.set('label',null);
        }
        else{
          this.set('label','Create a Game')
        }
      },

      // Create new game
      addGame:function(){
        var name = this.newName;

        if(!name){
          event.preventDefault();
          return false;
        }
        else{
          addGame(this.newName);
          this.newName = "";
        }
      }

    });
  })();
  </script>
</dom-module>
