<!--
Dialog with form to create or update an activity
-->
<dom-module id="add-activity">
  <template>
    <style>
      :host {
        display:inline;
        font-size: 100%;
      }
      iron-autogrow-textarea, .square-wrap{
        display:block;
      }
      paper-fab{
        background-color: var(--warning-color);
        @apply(--shadow-elevation-6dp);
        z-index:8;
      }
      paper-dialog {
        position: fixed;
        top: 0;
        min-width: 400px;
        max-width:100vw;
      }
      label{
        font-size: 12px;
        font-weight: normal;
        display: block;
      }
      .picker{
        margin:15px 0;
        background-color: var(--default-primary-color);
        color:#fff;
      }
      select{
        width:100%;
      }
      .new-image{
        width:100%;
        height:100%;
      }
      span.alert{
        display: block
      }

    </style>
    <paper-fab elevation="3" icon="add" on-tap="_openDialog" alt="Add Activity" title="Add Activity"></paper-fab>
    <paper-dialog id="add-activity" entry-animation="scale-up-animation" exit-animation="scale-down-animation" with-backdrop on-iron-overlay-closed="_reset" opened="{{opened}}">
      <h2>{{title}}</h2>
      <paper-dialog-scrollable>
        <template is="dom-if" if="{{opened}}" restamp>
          <form is="iron-form" id="add-activity-form" on-submit="_addActivity">
            <span hidden="{{!notification}}" class="alert alert-danger">{{notification}}</span>
            <div class="col">
              <!-- Pic -->
              <label class="paper-input style-scope">Activity Icon
                <div class="square-wrap">
                  <img class="new-image" src="{{newImage}}"/>
                </div>
                <paper-button class="picker" on-tap="_loadPicker" raised>Select Image</paper-button>
              </label>
            </div>
            <div class="col">
              <!-- Name -->
              <paper-input id="add-activity-name" value="{{activity.name}}" name="name" label="Activity Name" placeholder="e.g. NASA Videos" error-message="Please enter a name for this activity" maxlength="50" onfocusout="validate()" autofocus required></paper-input>

              <paper-textarea label="Description / Instructions" value="{{activity.desc}}" name="desc" id="add-activity-desc" rows="3" max-rows="4" maxlength="500" label="Description" placeholder="What do players need to do to complete this activity?" error-message="Please enter an activity desciption under 500 characters" onfocusout="validate()" required></paper-textarea>

              <!-- Link -->
              <paper-input value="{{activity.link}}" id="activity-link" type="url" name="link" label="Link to Activity" placeholder="http://myactivity.com" maxlength="5000" error-message="Please enter a valid link starting with http://" onfocusout="validate()" hyperlink invalid="{{invalidlink}}"></paper-input>

              <!-- Prereqs -->              
              <label id="prereqs" for="parent">
                Prerequisite(s)
                <select id="parent" multiple>
                  <template is="dom-repeat" items="[[parents]]" as="parent">
                  <option value="{{parent.__firebaseKey__}}">{{parent.name}}</option>
                  </template>
                </select>
              </label>

              <!-- Required flag -->  
              <label for="required">
                <input type="checkbox" checked="{{activity.req}}" id="required" name="required" title="Players cannot proceed until this activity is marked complete.">
                Required?
              </label> 
            </div>
          </form>
        </template>
      </paper-dialog-scrollable>
      <div class="buttons">
        <paper-button class="error" dialog-dismiss>Cancel</paper-button>
        <paper-button hidden="{{activityId}}" on-tap="_addActivity">Create</paper-button>
        <paper-button hidden="{{!activityId}}" on-tap="_addActivity">Update</paper-button>
      </div>
    </paper-dialog>
    <!-- get activity prequisites if updating -->
    <firebase-collection
      location="radiant-torch-7856.firebaseIO.com/activities"
      order-by-child="quest"
      equal-to="{{questId}}"
      data="{{parents}}">
    </firebase-collection>
  </template>
  <script>
  (function() {

    Polymer({
      is: 'add-activity',

      properties: {
        newImage: {
          type: String,
          value: 'http://placehold.it/150x150',
          computed:'_getImage(activity)'
        },
        questId:{
          type: String,
          observer:'_prereqs'
        },
        activityId:{
          type: String,
          value:null
        },
        activity:{
          type: Array,
          value:null,
          computed:'_getActivity(activityId)'
        },
        title:{
          value:'Add Activity',
          computed:'_getTitle(activityId)'
        },
        notification:{
          value:null
        }
      },

      // Set dialog title based on action
      _getTitle:function(activityId){
        if(activityId){
          return 'Edit Activity'
        }
        else{
          return 'Add Activity'
        }
      },

      // Open dialog
      _openDialog:function(e){
        var dialog = document.getElementById('add-activity');
        if (dialog) {
          dialog.open();
        }
      },

      // Get activity details if updating
      _getActivity:function(activityId){
        if(activityId){
          var activity = new Firebase('radiant-torch-7856.firebaseIO.com/activities/'+activityId);
          activity.on('value',function(snap){
            activity = snap.val();
            snap.child('parents').forEach(function(p){
              $('option[value='+p.key()+']').prop('selected',true);
            });
          });
          return activity;
        }
        else{
          return null;
        }
      },

      // Get inital image
      _getImage:function(activity){
        if(activity){
          return activity.pic;
        }
        else{
          return 'http://placehold.it/150x150'
        }
      },

      // Add or update activity
      _addActivity:function(){

        // Validate form
        var valid = document.getElementById('add-activity-form').validate();
        if(!valid || this.invalidlink){
          this.set('notification','Please correct the errors below.');
          event.preventDefault();
          return false;
        }
        else{
          this.set('notification',null);
        }

        var activity = this.activityId;

        var parents = {};
        $( '#parent option:selected' ).each(function() {
          var pid = $(this).attr('value');
          var parent = new Object();
          parent[pid] = true;
          $.extend(parents,parent);
        });

        var name = $('#add-activity-name').val();
        var pic = $('#add-activity-form .new-image').attr('src');
        var desc = $('#add-activity-desc').val();
        var link = $('#activity-link').val();
        var questId = this.questId;
        var req = $('#required').is( ':checked' );

        // if activity exists, update it
        if(activity){
          activities.child(activity).set({
          name:name,
          pic:pic,
          desc:desc,
          link:link,
          quest:questId,
          parents:parents,
          req:req
        },function(error){
          if(error){
            console.log(error);
          }
          else{
            var cid = activity;
            $( '#parent option:selected' ).each(function() {
              var pid = $(this).attr('value');
              activities.child(pid + '/children/' + cid).set(true,function(error){
                if(error){
                  console.log(error);
                }
              });
            })
          }
        });
        }
        // Otherwise create new activity
        else{
          var newAct = activities.push({
            name:name,
            pic:pic,
            desc:desc,
            link:link,
            quest:questId,
            parents:parents,
            req:req
          },function(error){
            if(error){
              console.log(error);
            }
            else{
              var cid = newAct.key();
              $( '#parent option:selected' ).each(function() {
                var pid = $(this).attr('value');
                activities.child(pid + '/children/' + cid).set(true,function(error){
                  if(error){
                    console.log(error);
                  }
                });
              })
              app.activityId = cid;
              addNode(cid);
            }
          });
        }
        // Close dialog when successful
        var dialog = document.getElementById('add-activity');
        if (dialog) {
          dialog.close();
        }
      },

      // Show image picker
      _loadPicker:function(){
        loadPicker('#add-activity-form .new-image');
      },

      // Reset dialog on close
      _reset:function(){
        this.set('notification',null);
        this.set('invalidlink',null);
        $('.new-image').attr('src','https://placehold.it/150x150');
        app.activityId = null;
      },

      // Hide prereqs on first activity
      _prereqs:function(questId){
        activities.orderByChild('quest').equalTo(questId).on("value",function(snap){
          if(!snap.exists()){
            $('#prereqs').prop( "hidden", true );
          }
          else{
            $('#prereqs').prop( "hidden", false );
          }
        });
      }

    });
  })();
  </script>
</dom-module>
