<!--
Display a badge
-->
<dom-module id="badge-item">
  <template>
    <style>
      :host {
        display: inline-block;
        width:182px;
        margin: 16px;
        vertical-align: top;
      }
      .card-actions{
        display:flex;
        justify-content:center;
      }
      paper-card .card-content{
        margin-top:10px;
        padding-bottom:8px;
      }
      .student-badge{
        min-height:190px;
        position: relative;
      }
      .student-badge img{
        text-align: center;
        display:block;
        margin:auto;
      }
      .student-badge div:last-child{
        padding-top:20px;
        text-align: center;
      }
      span.name{
        text-align: center;
        font-size: 1.4em;
        font-family: 'Roboto Condensed', sans-serif;
        padding-top:10px;
        display:block;
      }
      paper-button{
        color:var(--default-primary-color);
      }
      .label{
        position:absolute;
        font-size:1em;
        background-color:var(--warning-color);
      }
      .label iron-icon{
        width:16px;
      }
      .card-content .label{
        top:8px;
        left:8px;
      }
      .student-badge .label{
        top:12px;
        left:30px;
      }
    </style>
     <firebase-document
      location="{{ref}}"
      data="{{badge}}">
    </firebase-document>

    <!-- Badge with editing / status options for game master -->
    <template is="dom-if" if="{{admin}}">
      <paper-card>
      <div class="card-content">
        <img class="img-circle" width="150px" height="150px" src="{{badge.pic}}"/>
        <span class="name">{{badge.name}}</span>
        <span hidden="{{!quest}}" class="label"><iron-icon icon="star"></iron-icon> Quest</span>
      </div>
      <!-- Edit options -->
      <div class="card-actions">
        <template is="dom-if" if="[[admin]]">
            <paper-icon-button icon="create" alt="Edit Badge" title="Edit Badge" on-tap="_edit" disabled="{{quest}}"></paper-icon-button>
            <paper-icon-button icon="delete" alt="Delete Badge" title="Delete Badge" on-tap="_remove" disabled="{{quest}}"></paper-icon-button>
            <paper-icon-button icon="add-box" alt="Award Badge" title="Award Badge" on-tap="award" disabled="{{quest}}"></paper-icon-button>
            <paper-icon-button icon="assessment" alt="View Badge Statistics" title="View Badge Statistics" on-tap="stats"></paper-icon-button>
        </template>
      </div>
      </paper-card>
    </template>

    <!-- Badge without administration options (player)-->
    <template is="dom-if" if="{{!admin}}">
      <div class="student-badge" on-tap="_showInfo" on-mouseover="_showInfo" on-mouseout="_showInfo">
        <div hidden="{{details}}">
          <img class="img-circle" width="150px" height="150px" src="{{badge.pic}}"/>
          <span class="name">{{badge.name}}</span>
          <span hidden="{{!quest}}" class="label"><iron-icon icon="star"></iron-icon> Quest</span>
        </div>
        <div hidden="{{!details}}">
          <span class="name">{{badge.name}}</span>
          <span>{{badge.criteria}}</span>
        </div>
      </div>
    </template>

  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'badge-item',

      properties: {
        badgeId:{
          type:String,
          observer:'_disable'
        },
        ref:{
          computed: '_getBadge(badgesRef,badgeId)'
        },
        badgesRef:{
          type:String,
          value:'radiant-torch-7856.firebaseIO.com/badges/'
        },
        admin:{
          type:Boolean,
          value:false
        },
        itemId:{
          type:String,
          notify:true
        },
        details:{
          type:Boolean,
          value:false
        }
      },

      // Show player badge description on hover/tap
      _showInfo:function(){
        if(this.details == false){
          this.set('details',true);
        }
        else{
          this.set('details',false)
        }
      },

      // Disable edit functions on quest badges (must be edited via quest)
      _disable:function(){
        var badge = this.badge;
        if(badge.type == 'quest'){
          this.quest = true;
        }
        else{
          this.quest = false;
        }
      },

      // Get badge info
      _getBadge:function(badgesRef, badgeId){
        return badgesRef + badgeId;
      },

      // Delete badge
      _remove:function(){
        if(confirm('Are you sure you want to delete this badge?')){
          var badges = new Firebase(this.badgesRef);
          badges.child(this.badgeId).remove();
        }
      },

      // Update existing badge
      _edit:function(){

        app.badgeId = this.badgeId;

        var dialog = document.getElementById('add-badge');
        if (dialog) {
          dialog.open();
        }

      },

      // Display badge stats dialog
      stats:function(){
        app.badgeId = this.badgeId;
        this.itemId = this.badgeId;

        var badge = this.badge;
        $('#award-badge h2').html(badge.name+' Badge');
        $('#award-badge status-list').prop('editable',false);
        var dialog = document.getElementById('award-badge');
        
        if (dialog) {
          dialog.open();
        }
      },

      // Manually award badge to one or more players
      award:function(){
        app.badgeId = this.badgeId;
        this.itemId = this.badgeId;

        var badge = this.badge;

        $('#award-badge h2').html('Award the '+badge.name+' Badge');
        $('#award-badge status-list').prop('editable',true);
        var dialog = document.getElementById('award-badge');
        
        if (dialog) {
          dialog.open();
        }
      },

    });
  })();
  </script>
</dom-module>
