<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="user-points">
  <template>
    <style>
      :host {
        display: inline-block;
      }
    </style>
    <span>{{points}}</span>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'user-points',

      properties: {
        gameId:{
          type: String
        },
        userId:{
          type: String
        },
        display:{
          type: String,
          value:'current'
        }
      },

      // update points when game, user, and display type updated
      observers:[
        '_getPoints(gameId,userId,display)'
      ],

      // Get user's points
      _getPoints:function(gameId,userId,display){
        var score = {};
        var scope = this;

        points.child(gameId+'/'+userId).on("value",function(p){
          score = p.val();

          if(display == 'current'){
            scope.set('points',score.current)
          }
          else if(display == 'total'){
            scope.set('points',score.total)
          }
          else if(display == 'combined'){
            scope.set('points',score.current + '/' + score.total)
          }
        });

        

      }

    });
  })();
  </script>
</dom-module>
