<!--
Logout button
-->
<dom-module id="logout-button">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <paper-button raised="{{raised}}" on-tap="_logout">Logout</paper-button>
  </template>
  <script>
  (function() {

    Polymer({
      is: 'logout-button',

      properties: {
        raised:{
          type: Boolean,
          value: false
        }
      },

      _logout:function(){
        ref.unauth(function(error){
          authData = null;
          if(error){
            console.log('Logout Failed!', error);
          }
          else{
            app.route = 'login';
            page.redirect('/login');
          }
        }); 
      }

    });

  })();
  </script>
</dom-module>
