<!-- 
A color-coded box displaying a users status. Used for activity, quest, and badge completion
-->
<dom-module id="status-item">
  <template>
    <style is="custom-style">
      :host {
        display: block;
      }
      span:last-of-type{
        display:inherit;
        padding:.5em;
        border:none;
        min-width: 7.2em;
        text-align:center;
        text-transform: uppercase;
        color:#fff;
      }
      paper-progress{
        --paper-progress-height:15px;
          padding:0;
          margin:0;
          display:block;
      }
      .pending{
        background-color:var(--warning-color);
      }
      .complete,.earned{
        background-color:var(--success-color);
      }
      .incomplete,.revoked{
        background-color:var(--danger-color);
      }
      
    </style>
    <!-- Show pogress bar if available -->
    <div hidden="{{!progress}}">
      <paper-progress value$="{{completed}}" max$="[[total]]"></paper-progress>
      <paper-tooltip animationDelay="0" position="bottom" offset="0">
        <span>{{completed}}</span> out of <span>[[total]]</span>
      </paper-tooltip>
    </div>

    <!-- Player status -->
    <span class$="{{statusText}}">{{statusText}}</span>

    <!-- DB doc of player status -->
    <firebase-document
    location="{{ref}}"
    data="{{status}}">
    </firebase-document>
  </template>
  <script>
  (function() {

    Polymer({
      is: 'status-item',

      properties: {
        itemId:{
          type: String,
          observer:'_getProgress'
        },
        itemType:{
          type: String
        },
        userId:{
          type: String
        },
        status: {
          type: String,
        },
        statusText:{
          type: String,
          computed:'_getStatus(itemType,status)',
        },
        ref:{
          type: String,
          computed:'_getRef(itemType,itemId,userId)',
        },
        completed:{
          type: Number,
          value:0
        },
        total:{
          type: Number
        },
        progress:{
          type: Boolean,
          value: false,
          computed:'_getType(itemType)'
        },
      },

      // DB reference
      _getRef:function(itemType,itemId,userId){
        return 'http://radiant-torch-7856.firebaseIO.com/' + itemType + '/' + itemId + '/status/' +userId;
      },

      // Get player status based on item type
      _getStatus:function(itemType,status){
        if(itemType == "badges"){
          if(status == 'earned'){
            return "earned";
          }
          else if(status == 'revoked'){
            return "revoked";
          }
          else{
            return "";
          }
        }
        else{
          if(status == 'confirmed' || status == 'complete'){
            return 'complete';
          }
          else if(status == 'pending'){
            return 'pending';
          }
          else{
            return 'incomplete';
          }
        }
      },

      // Get progress (e.g. number of activities completed in a quest)
      _getProgress:function(){
        var i =0;
        var total;
        var itemId = this.itemId;
        var itemType = this.itemType;
        var userId = this.userId;
        var scope = this;

        if(itemType == 'quests' && itemId){

          activities.orderByChild('quest').equalTo(itemId).on('value',function(snap){
            snap.forEach(function(a){
              status = a.child('status/'+userId).val();
              if(status == 'confirmed'){
                i++;
                scope.set('completed',i);
              }
            });
          });

          activities.orderByChild('quest').equalTo(itemId).on('value',function(snap){
            total = snap.numChildren();
            scope.set('total',total);
          });

        } //end if quest
        
      },

      // get type of item
      _getType:function(itemType){
        if(itemType == 'quests'){
          return true;
        }
        else{
          return false;
        }
      },

    });
  })();
  </script>
</dom-module>
