<!--
Dialog with a form to create a behavior
-->
<dom-module id="add-behavior">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-input{
        display: block;
        padding-top:0;
        float: right;
        clear:both;
      }
      paper-input:nth-of-type(1){
        min-width:300px;
        width:100%;
      }
      paper-input:nth-of-type(2){
        width:90px;
        margin-bottom: 20px
      }
      paper-button.block{
        background-color: var(--default-primary-color);
        color:#fff;
        margin:0;
      }
      .buttons{
        clear:both;
      }
      span.alert{
        display: block;
      }
    </style>
      <paper-button class="block" on-tap="_open" raised>Add a Behavior</paper-button>
      <paper-dialog id="add-behavior" entry-animation="scale-up-animation" exit-animation="scale-down-animation" with-backdrop on-iron-overlay-closed="_reset">
        <h2>Add a Behavior</h2>
        <p class="helper-text">Tip: use negative points to discourage unwanted behavior.</p>
        <form class="clear-left" is="iron-form" onsubmit="_add" id="add-behavior-form">

          <!-- Error box -->
          <span hidden="{{!notification}}" class="alert alert-danger">{{notification}}</span>
          
          <!-- Name -->
          <paper-input maxlength="35" value="{{name}}" label="Behavior Name" placeholder="e.g. asked thoughful question" autofocus required onfocusout="validate()" error-message="Please enter a name for the behavior" oninput="validate()" invalid="{{invalidname}}"></paper-input>
          <!-- Points -->
          <paper-input maxlength="3" label="Point Value" value="{{value}}" always-float-label="true" required oninput="validate()" onfocusout="validate()" error-message="Value Required" invalid="{{invalidpoints}}"></paper-input>
        </form>
        <div class="buttons">
          <paper-button dialog-dismiss on-tap="_reset">Cancel</paper-button>
          <paper-button on-tap="_add">Add</paper-button>
        </div>
      </paper-dialog>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'add-behavior',

      properties: {
        gameId:{
          type: String
        },
        name:{
          type: String,
        },
        value:{
          type: Number
        },
        notification:{
          value:null
        }
      },

      // Open dialog
      _open:function(){
        var dialog = document.getElementById('add-behavior');
        if (dialog) {
          dialog.open();
        }
      },

      // Reset dialog content on close
      _reset:function(){
        this.set('notification',null);
        this.set('invalidname',null);
        this.set('invalidpoints',null);
        document.getElementById("add-behavior-form").reset();
      },

      // Add behavior
      _add:function(){

        // Validate form
        var valid = document.getElementById('add-behavior-form').validate();
        if(!valid || this.invalidlink){
          this.set('notification','Please correct the errors below.');
          event.preventDefault();
          return false;
        }
        else{
          this.set('notification',null);
        }

        var name = this.name;
        var value = Number(this.value);
        var game = this.gameId;

        // Create new behavior
        if(name && value){
          behaviors.child(game).push({
            name:name,
            value:value,
            game:game
          },function(error){
            if(error){
              console.log(error);
              return false
            }
          });
          document.getElementById("add-behavior-form").reset();
        }
        else{
          console.log('error')
          return false;
        }
        
        // Close dialog if successful
        var dialog = document.getElementById('add-behavior');
        if (dialog) {
          dialog.close();
        }
      },


    });
  })();
  </script>
</dom-module>
