<!-- 
Display list of behaviors
-->

<dom-module id="behavior-list">
  <template>
    <style>
      :host {
        display: block;
        margin:10px auto 30px;
      }
      paper-dropdown-menu{
        width:80%;
        position: relative;
        top:-16px;
        max-width: 330px;
      }
      paper-menu, paper-menu paper-item{
        width:100%;
      }
      .toggle{
        padding-top:20px;
      }
      label[for="toggle"]{
        min-width: 150px;
        padding-top:20px;
      }
      player-list{
        margin:0 auto;
      }
      .buttons{
        border-top:1px solid #ddd;
        padding:8px;
      }
      div.horizontal paper-button{
        margin-left:30px;
        height:40px;
        background-color: var(--default-primary-color);
        color:#fff;
      }
      paper-dialog h2{
        padding-bottom: 24px;
        display: inline-block;
        width: 90%;
        width: calc(100% - 32px)
      }
      .header{
        display: block;
        border-bottom:1px solid #ddd;
      }
      .close{
        position:absolute;
        top:12px;
        right:12px;
        margin:0;
        display: inline-block;
      }
      @media (max-width: 600px) {
        paper-dialog{
          width:100vw;
          min-height:100vh;
          margin:0;
          overflow: auto;
        }
        label[for="toggle"]{
          display: none;
        }
        #select-behavior{
          margin-left:16px;
        }
      }
    </style>

    <!-- Get list of behaviors for this game -->
    <firebase-collection
      location="{{ref}}"
      data="{{items}}">
    </firebase-collection>

    <!-- Display list of behaviors --> 
    <h2>Behaviors</h2>
    <template is="dom-repeat" items="{{items}}" as="behavior" sort="_sort">
      <behavior-item game-id="{{gameId}}" behavior-id="{{behavior.__firebaseKey__}}" selected="{{selected}}"></behavior-item>      
    </template>
    <add-behavior game-id="{{gameId}}"></add-behavior>

    <!--Award Behavior Dialog-->
    <paper-dialog id="award-behavior" opened="{{opened}}" on-iron-overlay-closed="_reset" entry-animation="scale-up-animation" exit-animation="scale-down-animation" with-backdrop>
      <div class="header">
        <paper-icon-button class="close" icon="clear" dialog-dismiss></paper-icon-button>
        <h2>Log Behaviors</h2>
      </div>
      <div class="layout horizontal">
        <paper-checkbox class="toggle" checked="{{checkAll}}"></paper-checkbox>
        <label for="toggle">Select <span on-tap="_all">All</span> / <span on-tap="_none">None</span></label>
        <span class="flex"></span>
        <paper-dropdown-menu id="select-behavior" label="Select Behavior">
          <paper-menu class="dropdown-content" attr-for-selected="value" selected="{{selected}}">
            <template is="dom-repeat" items="{{items}}" as="behavior" sort="_sort">
              <paper-item value="{{behavior.__firebaseKey__}}">{{behavior.name}} ({{behavior.value}} pts)</paper-item>
            </template>
          </paper-menu>
        </paper-dropdown-menu>
        <paper-button on-tap="_apply" raised>Apply</paper-button>
      </div>
      <player-list id="apply-points" game-id="{{gameId}}" checked="{{checked}}" selectable></player-list>
      <div class="buttons">
      <paper-button dialog-dismiss>Done</paper-button>
      </div>
    </paper-dialog>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'behavior-list',

      properties: {
        gameId:{
          type: String
        },
        ref:{
          computed:'_getRef(gameId)'
        },
        selected:{
          type: String
        },
        checkAll:{
          type: Boolean,
          observer:'_check',
        },
        items:{
          type: Array
        }
      },

      // check item
      _check:function(){
        if(this.checkAll){
          this.checked = true;
        }
        else{
          this.checked = false;
        }
      },

      // Check all items
      _all:function(){
        this.checkAll = false;
        this.checkAll = true;
      },

      // Uncheck all items
      _none:function(){
        this.checkAll = true;
        this.checkAll = false;
      },

      // DB: list of behaviors
      _getRef:function(gameId){
        return 'radiant-torch-7856.firebaseIO.com/behaviors/' + gameId;
      },

      // Reset award dialog on close
      _reset:function(){
        if(!this.opened){
          $('paper-checkbox').prop('checked',false);
          this.set('selected',null);
        }
      },

      // Apply behavior to one or more players
      _apply:function(){
        var selected = this.selected;
        var gameId = this.gameId;
        var date = new Date().getTime();
        var value;
        var name;

        if(!selected){
          return false;
        }

        behaviors.child(gameId+'/'+selected).on("value",function(b){
          var behavior = b.val();
          value = Number(behavior.value);
          name = behavior.name;
        });

        $('#apply-points paper-checkbox').not('.toggle').each(function(){
          if($(this).prop('checked')){
            var user = $(this).attr('id');
            var current;
            var total;

            // Get new point totals
            points.child(gameId+'/'+user).once("value",function(s){
              if(s.exists()){
                var points = s.val();
                current = Number(points.current);
                total = Number(points.total);
              }
              else{
                current = 0;
                total = 0;
              }
              current = current + value;
              total = total + value;
              
            });

            // Log point changes and update totals
            logs.child(gameId+'/'+user).push({
              behaviorId:selected,
              behaviorName:name,
              value:value,
              date:date
            },function(error){
              if(error){
                console.log(error);
                return false;
              }
              else{
                toast("Behavior logged successfully.")
              }
            });

            points.child(gameId+'/'+user).set({
              current:current,
              total:total
            });
          } //end if checked
        });
      }, // end apply points

      // Sort players alphabetically by email
      _sort:function(a, b) {
        if (a.value === b.value) return 0;
        return a.value > b.value ? -1 : 1;
      }

    });
  })();
  </script>
</dom-module>
