<!--
Dialog with a form to create or update a badge
-->
<dom-module id="add-badge">
  <template>
    <style>
      :host {
        display: block;
        max-width: 600px;
      }
      iron-autogrow-textarea, .landscape-wrap{
        display:block;
      }
      paper-dialog {
        position: fixed;
        top: 0;
        min-width: 400px;
        max-width:100vw;
        overflow: auto;
      }
      .picker{
        margin:15px 0;
        background-color: var(--default-primary-color);
        color:#fff;
      }
      paper-fab{
        background-color: var(--default-primary-color);
        @apply(--shadow-elevation-6dp);
        z-index: 10;
      }
      span.alert{
        display: block
      }
    </style>
    <paper-fab elevation="3" icon="add" title="Add Badge" on-tap="_openDialog"></paper-fab>
    <paper-dialog id="add-badge" entry-animation="scale-up-animation" exit-animation="scale-down-animation" with-backdrop on-iron-overlay-closed="_reset" opened="{{opened}}">
      <h2>{{title}}</h2>
      <paper-dialog-scrollable>
        <template is="dom-if" if="{{opened}}" restamp>
          <form id="add-badge-form" is="iron-form"  on-submit="_addBadge">
            <span hidden="{{!notification}}" class="alert alert-danger">{{notification}}</span>
            <div class="col">
              <!-- Pic -->
              <label class="paper-input style-scope">Badge Image</label>
              <div class="square-wrap" width="150px" height="150px">
                <img width="100%" class="new-image" src="{{newImage}}"/>
              </div>
              <paper-button class="picker" on-tap="_loadPicker" raised>Select Image</paper-button>
            </div>
            <div class="col">
              <!-- Name -->
              <paper-input id="add-badge-name" value="{{badge.name}}" error-message="Please enter a name for this badge" name="name" label="Badge Name" placeholder="e.g. Star Savvy" onfocusout="validate()" autofocus required maxlength="50"></paper-input>

              <!-- Description -->
              <paper-textarea label="Description" value="{{badge.desc}}" error-message="Please enter a description" placeholder="What skill(s) is this badge recognizing? e.g. Demonstrates extensive knowledge about constellations" name="desc" id="add-badge-desc" rows="3" max-rows="4" onfocusout="validate()" required maxlength="500"></paper-textarea>

              <!-- Criteria -->
              <paper-textarea label="Criteria" value="{{badge.criteria}}" error-message="Please enter criteria for receiving this badge" placeholder="What does a player need to do to receive this badge? e.g. can identify 10 major constellations" name="desc" id="add-badge-criteria" rows="3" max-rows="4" onfocusout="validate()" required maxlength="500"></paper-textarea> 

              <!-- Secret checkbox --> 
              <label for="secret">
                <input type="checkbox" checked="{{badge.secret}}" id="secret" name="secret" title="Secret badges are not shown in the list of available badges, making them a surprise when awarded.">
                Secret?
              </label> 
            </div>
          </form>
        </template>
      </paper-dialog-scrollable>
      <div class="buttons">
        <paper-button class="error" dialog-dismiss on-tap="_reset">Cancel</paper-button>
        <paper-button hidden="{{badgeId}}" on-tap="_addBadge">Create</paper-button>
        <paper-button hidden="{{!badgeId}}" on-tap="_addBadge">Update</paper-button>
      </div>
      
    </paper-dialog>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'add-badge',

      properties: {
        newImage: {
          type: String,
          value: 'http://placehold.it/150x150',
          computed:'_getImage(badge)'
        },
        gameId:{
          type: String
        },
        data:{
          type: String
        },
        badgeId:{
          type: String,
          value:null
        },
        badge:{
          type: Array,
          value:null,
          computed:'_getBadge(badgeId)'
        },
        title:{
          value:'Add a Badge',
          computed:'_getTitle(badgeId)'
        },
        notification:{
          value:null
        }
      },

      // Set dialog title based on action
      _getTitle:function(badgeId){
        if(badgeId){
          return 'Edit Badge'
        }
        else{
          return 'Add a Badge'
        }
      },

      // Open dialog
      _openDialog:function(e){
        var dialog = document.getElementById('add-badge');
        if (dialog) {
          dialog.open();
        }
      },

      // Get badge data if updating
      _getBadge:function(badgeId){
        if(badgeId){
          var badge = new Firebase('radiant-torch-7856.firebaseIO.com/badges/'+badgeId);
          badge.on('value',function(snap){
            badge = snap.val();
          })
          return badge;
        }
        else{
          return null;
        }
      },

      // Set initial image
      _getImage:function(badge){
        if(badge){
          return badge.pic;
        }
        else{
          return 'http://placehold.it/150x150'
        }
      },

      // Add or update badge
      _addBadge:function(){

        // Validate form
        var valid = document.getElementById('add-badge-form').validate();
        if(!valid){
          this.set('notification','Please correct the errors below.');
          event.preventDefault();
          return false;
        }
        else{
          this.set('notification',null);
        }

        var badges = new Firebase('radiant-torch-7856.firebaseIO.com/badges');
        var badge = this.badgeId;
        var name = $('#add-badge-name').val();
        var pic = $('#add-badge-form .new-image').attr('src');;
        var desc = $('#add-badge-desc').val();
        var criteria = $('#add-badge-criteria').val();
        var gameId = this.gameId;
        var secret = $('#secret').is( ':checked' );

        // Update existing badge
        if(badge){
          badges.child(badge).update({
            name:name,
            pic:pic,
            desc:desc,
            criteria:criteria,
            secret:secret
          },function(error){
            if(error){
              console.log(error);
            }
          });
        }
        // Create new badge
        else{
          var newBadge = badges.push({
            name:name,
            pic:pic,
            desc:desc,
            game:gameId,
            criteria:criteria,
            secret:secret
          },function(error){
            if(error){
              console.log(error);
            }
            else{
              app.badgeId = newBadge.key();
            }
          });

        }
        // Close dialog on success
        var dialog = document.getElementById('add-badge');
        if (dialog) {
          dialog.close();
        }
      },

      // Load image picker
      _loadPicker:function(){
        loadPicker('#add-badge-form .new-image');
      },

      // Reset dialog on close
      _reset:function(){
        this.set('notification',null);
        app.badgeId = null;
      }

    });
  })();
  </script>
</dom-module>
