<!--
Form to award / deduct points to individual student on-the-fly without predefined behavior.
-->
<dom-module id="quick-add-points">
  <template>
    <style>
      :host {
        display: block;
      }
      form{
        display: flex;
        justify-content:space-between;
        align-items: bottom;
      }
      paper-button{
        height:40px;
        background-color: var(--default-primary-color);
        color:#fff;
        min-width: 65px;
        margin-top: 14px;
      }
      paper-input:last-of-type{
        width:50px;
      }
      paper-dropdown-menu, paper-input:first-of-type{
        min-width: 160px;
        width:36%;
      }
      paper-dropdown-menu,paper-input{
        margin-right:20px;
        padding-bottom: 0;
      }
      paper-menu{
        max-width: 250px;
        overflow: auto;
        padding:0;
      }
      player-item{
        padding:5px;
        border-bottom:1px solid #ddd;
      }
      paper-item:nth-of-type(even){
        background-color: #fff
      }
      h2{
        margin-bottom:0;
      }
      @media (max-width: 850px) {
        form{
          justify-content:flex-start;
          flex-wrap:wrap;
        }
      }
      @media (max-width: 400px) {
        paper-button{
          height:36px;
          margin-top: 18px;
        }
      }
    </style>
    <!-- Get list of players -->
    <firebase-collection
      location="{{ref}}"
      order-by-key
      data="{{players}}">
    </firebase-collection>

    <h2>Quick Points</h2>
    <form is="iron-form" id="quick-points-form" on-submit="_add">
      <!-- list of players -->
      <paper-dropdown-menu is="iron-input" id="select-player" label="Select Player" autofocus required onfocusout="validate()" error-message="Select Player">
        <paper-menu class="dropdown-content" attr-for-selected="value" selected="{{selected}}">
          <template is="dom-repeat" items="{{players}}" as="player" sort="_sort">
            <paper-item value="{{player.__firebaseKey__}}">
              <player-item game-id="{{gameId}}" user-id="{{player.__firebaseKey__}}" simple></player-item>
            </paper-item>
          </template>
        </paper-menu>
      </paper-dropdown-menu>

      <!-- comment -->
      <paper-input id="quick-comment" label="Comment" value="{{comment}}" placeholder=" " alwaysFloatLabel="true"></paper-input>

      <!-- points -->
      <paper-input label="Points" value="{{value}}" type="number" required error-message="Required"></paper-input>

      <paper-button on-tap="_add" raised>Apply</paper-button>
    </form>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'quick-add-points',

      properties: {
        gameId:{
          type: String
        },
        ref:{
          type: String,
          computed:'_getPlayers(gameId)'
        },
        players:{
          type: Array
        },
        selected:{
          type: String
        },
        comment:{
          type: String
        },
        value:{
          type: Number
        }
      },

      // DB: Get list of players
      _getPlayers: function(gameId){
        return 'radiant-torch-7856.firebaseIO.com/games/' + gameId +'/players';
      },

      // Apply points
      _add:function(){

        // Validate form
        var valid = document.getElementById('quick-points-form').validate();
        if(!valid){
          event.preventDefault();
          return false;
        }

        var gameId = this.gameId;
        var user = this.selected;
        var comment = this.comment;
        var value = Number(this.value);
        var date = new Date().getTime();
        var current;
        var total;

        // Get new point totals
        points.child(gameId+'/'+user).on("value",function(s){
          if(s.exists()){
            var points = s.val();
            current = Number(points.current) + value;
            total = Number(points.total) + value;
          }
          else{
            current = 0 + value;
            total = 0 + value;
          }
        });

        // Log point changes and update totals
        logs.child(gameId+'/'+user).push({
          comment:comment,
          value:value,
          date:date
        },function(error){
          if(error){
            console.log(error);
            return false;
          }
          else{
            points.child(gameId+'/'+user).setWithPriority({
              current:current,
              total:total
            },current);
            toast(value + " points applied successfully.");
          } // end else
        });
        document.getElementById('quick-points-form').reset();
        this.set('selected',null);
      },

      // Sort players alphabetically by email
      _sort:function(a, b) {
        if (a.value === b.value) return 0;
        return a.value < b.value ? -1 : 1;
      }

    });
  })();
  </script>
</dom-module>
