<!-- 
List games of a given type (facilitating, playing, invited)
-->
<dom-module id="game-list">
  <template>
    <style>
      :host {
        display: block;
        margin:10px 0;
      }
      div{
        cursor:pointer;
        color:var(--default-primary-color);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding:16px;
      }
    </style>
    <firebase-collection
      location="radiant-torch-7856.firebaseIO.com/games"
      order-by-child="{{ref}}"
      equal-to="{{userEmail}}"
      data="{{games}}">
    </firebase-collection>
    <template is="dom-repeat" items="{{games}}" as="game" sort="_sort" on-dom-change="_loaded">
      <div on-tap="_setGame" data-game$="{{game.__firebaseKey__}}">
        {{game.name}}
      </div>
    </template>

    <content></content>
  </template>
  <script>
  (function() {

    Polymer({
      is: 'game-list',

      properties: {
        myRole: {
          type: String,
          value: 'player'
        },
        userId:{
          type: String,
        },
        userEmail:{
          type: String
        },
        ref:{
          type: String
        },
        games:{
          type: Array
        },
        loaded:{
          value:false,
          notify:true,
        }
      },

      observers:[
        '_getGames(myRole,userId, userEmail)'
      ],

      // Get users games
      _getGames:function(myRole, userId, userEmail){
        var scope = this;
        var ref = myRole +'s/'+userId;

        games.orderByChild(ref).equalTo(userEmail).on("value",function(snap){
          var count = snap.numChildren();
          scope.set('myGames',count);
        });
        this.set('ref',ref);
      },

      // Go to game when link clicked
      _setGame:function(e){
        var item = e.target;
        var game = $(item).attr('data-game');
        page.redirect('/'+game);
      },

      // Sort games alphabetically
      _sort:function(a, b) {
        if (a.name === b.name) return 0;
        return a.name < b.name ? -1 : 1;
      },

      // Notify UI when data loaded (disables loading animation)
      _loaded:function(){
        var games = this.games.length;
        var count = this.myGames;
        if(count == games){
          $('[data-game="'+gameID+'"]').addClass('focused');
          this.set('loaded',true);
        }
      }

    });
  })();
  </script>
</dom-module>
