<!--
Display game leaderboard based on role and rank
-->

<dom-module id="leaderboard-view">
  <template>
    <style>
      :host {
        display: block;
        margin: 10px auto 30px;
      }
      leaderboard-item{
        display: block;
        min-height:75px;
        border-bottom:1px solid rgba(0,0,0,0.12);
      }
      leaderboard-item:last-of-type{
        border:none;
      }
      #reset-lb{
        background-color: var(--default-primary-color);
        color:#fff;
        margin:10px 0;
      }
      paper-material{
        background-color: #fff;
      }

    </style>
    <firebase-collection
      location="{{ref}}"
      data="{{items}}">
    </firebase-collection>
    
    <h2 hidden="{{empty}}">Leaderboard</h2>
    <paper-material elevation="1">
      <div class="leaderboard">
        <template is="dom-repeat" items="{{items}}" sort="_sort">
          <leaderboard-item hidden="{{hide(index,min,max)}}" rank="{{getRank(index,item.__firebaseKey__,item.current,myRank,itemCount)}}" admin="{{admin}}" game-id="{{gameId}}" item="{{item}}"></leaderboard-item>
        </template>
      </div>
    </paper-material>

    <!-- content if leaderboard is empty -->
    <template is="dom-if" if="{{!admin}}">
      <p hidden="{{!empty}}" class="well center block">The game master has not created a leaderboard yet.</p>
    </template>
    <template is="dom-if" if="{{admin}}">
      <h2 hidden="{{!empty}}">Leaderboard</h2>
      <p hidden="{{!empty}}" class="well">To create a leaderboard, award (or deduct) points from one or more players using the <em>Quick Points</em> form above.<br/><br/>Create <em>behaviors</em> to easily award or deduct specific point values with an associated reason and track trends in player behavior.</p>
      <paper-button hidden="{{empty}}" id="reset-lb" on-tap="_resetLB" class="block" raised>Reset Leaderboard</paper-button>
    </template>
    
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'leaderboard-view',

      properties: {
        gameId:{
          type: String
        },
        admin:{
          type: Boolean,
          value: false
        },
        userId:{
          type: String
        },
        ref:{
          computed:'_getRef(gameId)',
          observer:'count'
        },
        itemCount:{
          type: Number
        },
        empty:{
          type: Boolean,
          value:true
        },
        myScore:{
          type:Number
        },
        myRank:{
          type: Number
        }
      },

      observers:[
        '_getScore(admin,gameId,userId)',
        '_myRank(gameId,userId)',
        'range(myRank,admin,itemCount)'
      ],

      // Get player's current rank
      _myRank:function(gameId,userId){
        var scope = this;
        rankings.child(gameId + '/' + userId + '/rank').on("value",function(r){
          var rank = r.val();
          scope.set('myRank',rank);
        })
      },

      // Get range of leaderboard (all for game master; +/- two for players not in top 5)
      range:function(myRank,admin,itemCount){
        var min;
        var max;

        if(admin){
          min = 0;
          max = itemCount;
        }
        else if(myRank < 6){
          min = 0;
          max = 4;
        }
        else if(myRank > (itemCount - 5)){
          min = itemCount - 5;
          max = itemCount;
        }
        else{
          min = myRank - 3;
          max = myRank + 1;
        }

        this.set('min',min);
        this.set('max',max);

      },

      // Hide players outside of range
      hide:function(index,min,max){
        if(index < min || index > max){
          return true;
        }
        else{
          return false;
        }
      },

      // Detect whether leaderboard is empty
      count:function(ref){
        var count;
        var scope = this;
        points.child(this.gameId).on("value",function(snap){
          if(!snap.exists()){
            scope.set('itemCount',0);
            scope.set('empty',true);
          }
          else{
            count = snap.numChildren();
            scope.set('itemCount',count);
            scope.set('empty',false);
          }
        });

      },

      // DB: points log
      _getRef:function(gameId){
        return 'radiant-torch-7856.firebaseIO.com/points/' + gameId;
      },

      // Get player's score
      _getScore:function(admin,gameId,userId){
        var scope = this;
        if(!admin){
          points.child(gameId+'/'+userId+'/current').once("value",function(s){
            var score = s.val();
            scope.set('myScore', score)
          });
        }
      },

      // Get player's rank
      getRank:function(index,user,current,myRank){
        var gameId = this.gameId;
        var myScore = this.myScore;
        var myRank = this.myRank;
        var rank = index + 1;

        rankings.child(gameId+'/'+user+'/rank').set(rank);

        if(user == this.userId){
          return 'YOU'
        }
        else if(this.admin || myRank < 6){
          return rank;
        }
        else{

          var diff = current - myScore;

          if(diff > 0){
            return '+' + diff;
          }
          else{
            return diff;
          }
          
        }
      },

      // Reset the leaderboard (master only)
      _resetLB:function(){
        var game = this.gameId;
        resetLB(game);
      },

      // Sort players by points
      _sort:function(a, b) {
        var a = a.current;
        var b = b.current;
        if (a === b) return 0;
        return a > b ? -1 : 1;
      }

    });
  })();
  </script>
</dom-module>
