<!--
Home screen with list of games
-->
<dom-module id="home-view">
  <template>
    <style>
      :host {
        display: block;
      }
      add-game{
        position: relative;
        top:-10px;
        margin:0;
      }
      h1{
        margin: 0 auto 20px;
      }
      h2{
        margin-top:10px;
      }
      h2:first-of-type{
        margin-top:0;
      }
      logout-button{
        color:var(--default-primary-color);
        text-align: right;
        display: block;
        border-top: 1px solid rgba(0,0,0,0.12);
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: right;
        width: 100%;
        padding: 10px 24px;
      }
      .buttons{
        margin-top: 48px
      }
      @media (max-width: 500px) {
        logout-button{
          width:calc(100% - 64px);
        }
      }
    </style>
    <div>
      <firebase-document
        location="{{ref}}"
        data="{{user}}">
      </firebase-document>
        <template is="dom-if" if="{{user}}" restamp>
          <h1>Welcome to Game It!</h1>
          <div class="scroll">
            <!-- option to create new game (master only) -->
            <template is="dom-if" if="{{master}}" restamp>
              <div class="center" hidden="{{facilitating}}">
                <p>Enter a name for your first game to get started.</p>
              </div>
              <h2>Create a New Game</h2>
              <add-game form-id="add-game-home"></add-game>
              <h2 hidden="{{!facilitating}}">Manage a Game</h2>
              <game-list my-role="admin" user-id="{{userId}}" user-email="{{user.email}}"></game-list>
            </template>

            <!-- text if player not enrolled in any games-->
            <template is="dom-if" if="{{!master}}" restamp>
              <span hidden="{{hasGames}}" class="help-text center">You have not been added to any games yet.</span>
            </template>
            
            <!-- list of games player is enrolled in -->
            <section hidden="{{!playing}}">
              <h2>Play a Game</h2>
              <game-list my-role="player" user-id="{{userId}}" user-email="{{user.email}}" loaded="{{pLoaded}}"></game-list>
            </section>

            <!-- list of games player has been invited to play -->
            <section hidden="{{!pending}}">
              <h2>Join a Game</h2>
              <pending-list email="{{user.email}}" uid="{{userId}}"></pending-list>
            </section>
          </div>

          <!-- logout button -->
          <div class="buttons">
            <logout-button></logout-button>
          </div>
        </div>
      </template>
  </template>
  <script>
  (function() {

    Polymer({
      is: 'home-view',

      properties: {
        master: {
          type: Boolean,
          value: false
        },
        facilitating:{
          type: Boolean,
          value: false
        },
        pending:{
          type: Boolean,
          value: false
        },
        playing:{
          type: Boolean,
          value: false
        },
        userId:{
          type: String,
          value:null
        },
        hasGames:{
          type: Boolean,
          value: true
        },
        ref:{
          type: String,
          computed:'_getRef(userId)'
        },
        loaded:{
          value:false,
          notify:true
        }
      },

      observers:[
        'detectGames(pending,playing)',
        '_getStatus(pLoaded,master)'
      ],

      // Determine whether player is enrolled / invited to any games
      detectGames:function(pending,playing){
        if(pending == false && playing == false){
          this.set('hasGames',false);
        }
      },

      // DB: list of player's games
      _getRef:function(userId){
        return 'radiant-torch-7856.firebaseIO.com/users/'+userId;
      },

      // Determine whether all game lists have loaded (hides loading animation)
      _getStatus:function(pLoaded,master){
        if(master && pLoaded){
          this.set('loaded',true);
        }
        else if(!master && pLoaded){
          this.set('loaded',true);
        }
        else{
          this.set('loaded',false);
        }
      }

    });
  })();
  </script>
</dom-module>
