<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Gamify It</title>

  <!-- Chrome for Android theme color -->
  <meta name="theme-color" content="#AD1457">

  <!-- Web Application Manifest -->
  <link rel="manifest" href="manifest.json">

  <!-- Tile color for Win8 -->
  <meta name="msapplication-TileColor" content="#AD1457">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="Gamify It">
  <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#AD1457">
  <meta name="apple-mobile-web-app-title" content="Gamify It">
  <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

  <!-- Tile icon for Win8 (144x144) -->
  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">

  <!-- Imports -->
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <link rel="stylesheet" href="styles/bootstrap-theme.min.css">
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild-->

  <!-- build:js bower_components/webcomponentsjs/webcomponents-lite.min.js -->
  <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <!-- endbuild -->

  <!-- will be replaced with elements/elements.vulcanized.html -->
  <link rel="import" href="elements/elements.html">
  <!-- endreplace-->
</head>

<body unresolved class="fullbleed layout vertical">

  <span id="browser-sync-binding"></span>

  <template is="dom-bind" id="app">
    <paper-toast id="toast" text="{{toastText}}"></paper-toast>

    <!-- Firebase authentication -->
    <firebase-auth id="firelogin" user="{{user}}" statusKnown="{{statusKnown}}" location="https://radiant-torch-7856.firebaseIO.com" provider="google"></firebase-auth>

    <iron-pages attr-for-selected="data-route" selected="{{route}}">
      
      <!-- Home / Login Page (Unauthenticated User) -->
      <div id="login-screen" hidden="{{user}}" data-route="login">
        <login-view route="route"></login-view>
      </div>

      <template is="dom-if" if="{{user}}" restamp>

        <!-- Home Overlay (Authenticated User) -->
        <div id="home" data-route="home">
          <loading-overlay hidden="[[loaded]]"></loading-overlay>
          <paper-material elevation="3">
            <home-view user-id="{{user.uid}}" master="{{master}}" facilitating="{{facilitating}}" pending="{{pending}}" playing="{{playing}}" loaded="{{loaded}}"></home-view>    
          </paper-material>
        </div>

        <!-- Quest Map Overlap -->
        <div id="quest-map" data-route="map" hidden="{{!questId}}">
          <activity-item activity-id="{{activity}}" master="{{admin}}" total="[[players]]" game-id="{{params.game}}" is-final='{{isFinal}}'></activity-item>
          <quest-view activity-id="{{activityId}}" quest-id="{{questId}}" admin="[[admin]]"></quest-view>
        </div>

        <paper-drawer-panel id="paperDrawerPanel" data-route="game">
          <!-- Drawer Scroll Header Panel -->
          <paper-scroll-header-panel drawer fixed>

            <!-- Drawer Toolbar -->
            <paper-toolbar id="drawerToolbar">
              <img src="{{user.google.profileImageURL}}" class="img-circle center" width="30px" height="30px"/>
              <span>{{user.google.email}}</span>
            </paper-toolbar>

            <!-- Drawer Content -->
            <paper-menu id="sideMenu" selected="{{params.game}}" attr-for-selected="data-game" selected-attribute="focused" selectable="paper-item">
              <section hidden="{{!master}}">
                <h3>Facilitating</h3>
                <game-list my-role="admin" user-id="{{user.uid}}" user-email="{{user.google.email}}"></game-list>
                <add-game form-id="add-game-aside"></add-game>
              </section>
            
              <section id="playing" hidden="{{!playing}}">
                <h3>Playing</h3>
                <game-list my-role="player" user-id="{{user.uid}}" user-email="{{user.google.email}}"></game-list>
              </section>

              <section id="pending" hidden="{{!pending}}">  
                <h3>Pending</h3>
                <pending-list email="{{user.google.email}}" uid="{{user.uid}}"></pending-list>
              </section>
            </paper-menu>

          </paper-scroll-header-panel>

          <!-- Main Area -->
          <paper-scroll-header-panel class="fit" main keep-condensed-header>

            <!-- Main Toolbar -->
            <paper-toolbar id="mainToolbar" class="tall">

              <paper-icon-button id="paperToggle" icon="menu" paper-drawer-toggle></paper-icon-button>
              <div class="app-name"><a href="/">Gamify It</a></div>
              <div class="flex"></div>
              <logout-button></logout-button>

              <!-- Game Title -->
              <div class="middle middle-container center horizontal layout">
                <h1 id="game-name">
                  <!-- Editable Game Title (Admin) -->
                  <template is="dom-if" if="{{admin}}">
                    <span contenteditable onblur="{{updateName}}">{{thisGame.name}}</span><iron-icon class="helper" icon="create" alt="Click to edit game name"></iron-icon>
                  </template>
                  <!-- Static Game Title (Player) -->
                  <template is="dom-if" if="{{!admin}}">
                    <span>{{thisGame.name}}</span>
                  </template>
                </h1>
              </div>
              
              <!-- Section Tabs -->
              <div class="bottom bottom-container fit" >
                <paper-tabs selected="{{tab}}" on-iron-select="tabChange">
                  <paper-tab>Dashboard</paper-tab>
                  <paper-tab>Quests</paper-tab>
                  <paper-tab>Badges</paper-tab>
                  <paper-tab>Leaderboard</paper-tab>
                </paper-tabs>
              </div>

            </paper-toolbar>

            <!-- Main Content -->
            <div id="content" class="content">
              <neon-animated-pages selected="{{page}}" entry-animation="[[entryAnimation]]" exit-animation="[[exitAnimation]]">
                
                <!-- Dashboard Tab -->
                <neon-animatable data-tab="dash">
                  <div class="container-fluid">
                    <!-- Manage Players & Settings (Admin) -->
                    <template is="dom-if" if="{{admin}}">
                      <reset-prompt game-id="{{params.game}}"></reset-prompt>
                      <game-settings game-id="{{params.game}}" player-count="{{players}}" invited-count="{{invitees}}"></game-settings>
                    </template>
                    <!-- Leave Game (Player) -->
                    <paper-button hidden="{{admin}}" class="delete error block" raised onClick="{{leaveGame}}">Leave Game</paper-button>
                  </div>
                </neon-animatable>
                
                <!-- Quests Tab -->
                <neon-animatable data-tab="quests">
                  <add-quest quest-id="{{questId}}" game-id="{{params.game}}" hidden="{{!admin}}"></add-quest>
                  <quest-list game-id="{{params.game}}" admin="{{admin}}"></quest-list>
                </neon-animatable>

                <!-- Badges Tab -->
                <neon-animatable data-tab="badges">
                  <!-- Admin Content -->
                  <template is="dom-if" if="{{admin}}">
                    <add-badge game-id="{{params.game}}" badge-id="{{badgeId}}"></add-badge>
                    <badge-list admin="{{admin}}" game-id="{{params.game}}"></badge-list>
                  </template>
                  <!-- Player Content -->
                  <template is="dom-if" if="{{!admin}}">
                    <h2 hidden="{{admin}}">Available Badges</h2>
                    <badge-list admin="{{admin}}" game-id="{{params.game}}" filter="isAvailable"></badge-list>
                    <h2 hidden="{{admin}}">My Badges</h2>
                    <badge-list admin="{{admin}}" game-id="{{params.game}}" filter="hasReceived"></badge-list>
                  </template>
                </neon-animatable>

                <!-- Leaderboard Tab -->
                <neon-animatable data-tab="points">
                  <div class="container-fluid">
                    <!-- Scores (Player) -->
                    <template is="dom-if" if="{{!admin}}">
                      <div  hidden="{{emptyLog}}">
                        <h2>Your Scores</h2>
                        <paper-material id="my-scores" elevation="1">
                          <span class="points-card"><strong>Current: </strong><user-points game-id="{{params.game}}" user-id="{{user.uid}}"></user-points>pts</span>
                          <span class="points-card"><strong>Lifetime: </strong><user-points game-id="{{params.game}}" user-id="{{user.uid}}" display="total"></user-points>pts</span>
                        </paper-material>
                      </div>
                    </template>
                    <!-- Add Points (Admin) -->
                    <template is="dom-if" if="{{admin}}">
                      <quick-add-points game-id="{{params.game}}"></quick-add-points>
                    </template>
                    <!-- Leaderboards Content (Both) -->
                    <div class="row">
                      <div class="col-lg-6">
                        <leaderboard-view admin="{{admin}}" game-id="{{params.game}}" user-id="{{user.uid}}"></leaderboard-view>
                      </div>
                      <div class="col-lg-6">
                        <template is="dom-if" if="{{admin}}">
                          <behavior-list game-id="{{params.game}}"></behavior-list>
                        </template>
                        <template is="dom-if" if="{{!admin}}">
                          <points-log game-id="{{params.game}}" user-id="{{user.uid}}" empty="{{emptyLog}}"></points-log>
                        </template>
                      </div>
                    </div>
                  </div>
                </neon-animatable>

              </neon-animated-pages>
            </div><!-- End main content -->
          </paper-scroll-header-panel>
        </paper-drawer-panel>
      </template>
    </iron-pages>
      

    <!-- Offline Support
    <paper-toast id="caching-complete"
                 duration="6000"
                 text="Caching complete! This app will work offline.">
    </paper-toast>

    <platinum-sw-register auto-register
                          clients-claim
                          skip-waiting
                          on-service-worker-installed="displayInstalledToast">
      <platinum-sw-cache default-cache-strategy="networkFirst"
                         precache-file="precache.json">
      </platinum-sw-cache>
    </platinum-sw-register>
    -->

  </template>

  <!-- CDN Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://apis.google.com/js/api.js"></script>  
  <!-- build:js scripts/app.js -->
  <script type="text/javascript" src="scripts/firebase.js"></script>
  <script type="text/javascript" src="scripts/app.js"></script>
  <script type="text/javascript" src="scripts/picker.js"></script>
  <script type="text/javascript" src="scripts/map.js"></script>
  <!-- endbuild-->

</body>
</html>
