<!--
Login page with sign-up options
-->

<dom-module id="login-view">
  <template>
    <style>
      :host {
        display: block;
      }
    paper-material{
      background-color: #fff;
      text-align: center;
      padding:24px;
    }
    </style>
      
    <paper-material elevation="3">
      <p>Sign Up Using Google</p>
      <div class="block">
        <login-button my-role="admin" route="{{route}}">Game Master (Teacher)</login-button>
        <login-button my-role="player" route="{{route}}">Player (Student)</login-button>
      </div>
      <p>or login with an existing account</p>
      <login-button class="block" route="{{route}}">Login</login-button>
    </paper-material>

  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'login-view',

      properties: {
        route:{
          type:String,
          notify:true
        }
      }
    });
  })();
  </script>
</dom-module>
