<!--
  Dialog displaying the details of an item, along with actionable items, e.g. option to edit the activity if viewing as a game master.
-->
<dom-module id="activity-item">
  <template>
    <style>
      :host {
        display: block;
        width: 100vw;
      }
      img{
        display:inline-block;
        width:2em;
        height:2em;
      }
      h1{
        display:inline-block;
        font-size: 1.6em;
        text-align: left;
        max-width:450px;
        margin-top:0;
      }
      iron-icon{
        font-size: .8em;
      }
      .close{
        display:inline-block;
        position:absolute;
        top:6px;
        right:6px;
      }
      paper-dialog{
        padding-bottom:0;
        width: 500px;
      }
      paper-card{
        clear:both;
        margin:.5em 0;
      }
      .manage-actions{
        text-align: left;
        border-top: 1px solid rgba(0,0,0,0.12);
        padding:8px 8px 8px 24px;
        margin: 0;
        display: flex;
      }
      paper-progress{
        width:100%;
        padding:0;
        margin:0;
        --paper-progress-height:10px;
      }
      paper-progress::hover{
        paper-tooltip{
          visibility: visible;
        }
      }
      paper-button.confirm{
        color:var(--default-primary-color);
        position:absolute;
        right:0;
      }
      div{
        background-color:#fff;
      }
      .desc{
        margin-bottom: 16px;
      }
      .student-actions{
        margin-bottom:20px;
      }
      .danger{
        color:var(--danger-color);
      }
      paper-button{
        color:var(--default-primary-color);
      }
      player-item:last-of-type{
        margin-bottom: 16px;
      }
      @media (max-width: 600px) {
        h1{
          font-size: 6.5vw;
        }
        p{
          font-size: 1.2em;
        }
        paper-dialog{
          width:100vw;
          min-height:100vh;
          margin:0;
          overflow: auto;
        }
        paper-dialog div{
          padding:2vh 2vw;
        }
      }
    </style>
    <!-- activity document -->
    <firebase-document
      location="{{ref}}"
      data="{{activity}}">
    </firebase-document>

    <!-- activity dialog -->
    <paper-dialog opened="{{opened}}" on-iron-overlay-closed="_reset" id="activity-details" entry-animation="scale-up-animation" exit-animation="scale-down-animation" with-backdrop>
        <paper-icon-button class="close" icon="close" dialog-dismiss></paper-icon-button>
          <div class="card-header">
            <h1>
              <img class="img-circle" src="{{activity.pic}}"/>
              <span>{{activity.name}}</span>
            </h1>
            <div class="desc">
              <p>{{activity.desc}}</p>
              <p hidden="{{!activity.link}}">
                <a href="{{activity.link}}" target="_blank">Go to activity <iron-icon icon="launch"></iron-icon></a>
              </p>
            </div>
          </div>
          <paper-dialog-scrollable>
            <!-- activity completion checkbox (player) -->
            <template is="dom-if" if="{{!master}}">
              <div class="student-actions">
                <paper-checkbox id="my-status" disabled="{{confirmed}}" on-change="_updateStatus" checked="{{myStatus}}">
                  Activity Complete
                </paper-checkbox>
              </div>
            </template>
            <!-- activity completion (master) -->
            <template is="dom-if" if="{{master}}">
              <iron-pages attr-for-selected="data-list" selected="{{list}}">
                <div data-list="pending"> 
                  <!-- pending confirmation requests -->
                  <firebase-collection
                  location="{{reqRef}}"
                  order-by-value
                  equal-to="pending"
                  data="{{requests}}">
                  </firebase-collection>
                  <div>
                    <p><span>{{pending}}</span> (<a on-tap="_view">View all players</span>)</a></p>
                    <template is="dom-repeat" items="{{requests}}" as="request">
                      <player-item user-id="{{request.__firebaseKey__}}">
                        <paper-button class="confirm" on-tap="_confirm">Confirm</paper-button>
                      </player-item>
                    </template>
                  </div>
                </div>
                <!-- activity status list -->
                <div data-list="all">
                  <a on-tap="_back"><iron-icon icon="chevron-left"></iron-icon> Back to pending</a>
                    <status-list item-id="{{activityId}}" item-type="activities" change="{{change}}" game-id="{{gameId}}" is-final="{{isFinal}}" editable>
                    </status-list>
                </div>
              </iron-pages>
            </template>
          </paper-dialog-scrollable>
            <!-- edit actions (master) -->
            <div class="manage-actions">
              <template is="dom-if" if="{{master}}">
                <paper-icon-button icon="create" alt="Edit Quest" title="Edit Quest" on-tap="_edit"></paper-icon-button>
                <paper-icon-button icon="delete" alt="Delete Quest" title="Delete Quest" on-tap="_remove"></paper-icon-button>
              </template>
              <span class="flex"></span>
              <paper-button dialog-dismiss>Close</paper-button>
            </div>
          </template>
          <!-- activity completion rate progressbar -->
        <paper-progress id="activity-progress" min="0" max="[[total]]" value="{{completed}}"></paper-progress>
        <paper-tooltip for="activity-progress" animationDelay="0" position="top"><span>{{completed}}</span> of <span>{{total}}</span> players have completed this activity</paper-tooltip>
      </paper-dialog>
  </template>
  <script>
  (function() {

    Polymer({
      is: 'activity-item',

      properties: {
        gameId:{
          type: String,
        },
        activityId: {
          type: String,
          observer:'_reset'
        },
        ref:{
          computed: '_getActivity(actRef,activityId)'
        },
        actRef:{
          type:String,
          value:'radiant-torch-7856.firebaseIO.com/activities/'
        },
        reqRef:{
          type:String,
          computed:'_getRequests(ref)'
        },
        master:{
          type:Boolean,
        },
        myStatus:{
          type:Boolean,
          computed:'_getStatus(activityId,opened)',
        },
        confirmed:{
          type:Boolean,
          computed:'_confirmed(myStatus)'
        },
        pending:{
          type: Number,
          computed:'_getPending(reqRef,change,list)'
        },
        completed:{
          type: Number,
          computed:'_getCompleted(activityId,change,pending)'
        },
        total:{
          type: Number,
        },
        change:{
          type: Number,
          value:0
        },
        list:{
          type: String,
          value: 'pending',
          notify: true
        },
        isFinal:{
          type:Boolean
        },
        approvalReq:{
          computed:'_getApproval(gameId)',
          value:true
        }
      },

      // Get pending requests
      _getApproval:function(gameId){
        games.child(gameId+'/approvalReq').on("value",function(snap){
          if(snap.exists()){
            return snap.val();
          }
          else{
            return true;
          }
        });
      },

      // DB: Activity details
      _getActivity:function(actRef, activityId){
        return actRef + activityId;
      },

      // DB: Completion request
      _getRequests:function(ref){
        return ref + '/status';
      },

      // Count number of requests
      _getPending:function(reqRef,change,list){
        var req = new Firebase(reqRef);
        var i = 0;
        req.orderByValue().equalTo('pending').once('value', function(s){
          s.forEach(function(){
            i++;
          });
        });
        if(i === 1){
          return i + ' completion request';
        }
        else{
          return i + ' completion requests';
        }
      },

      // Count number of players who have completed the activity
      _getCompleted:function(activityId,change,pending){
        var i = 0;
        activities.child(activityId+'/status').orderByValue().equalTo('confirmed').once('value', function(s){
          s.forEach(function(){
            i++;
          });
        });
        return i; 
      },

      // Edit this activity
      _edit:function(){
        var thisDialog = document.getElementById('activity-details');
        var editDialog = document.getElementById('add-activity');
        thisDialog.close();
        app.activityId = this.activityId;
        editDialog.open();
      },

      // Delete this activity
      _remove:function(){
        if(confirm('Are you sure you want to delete this activity?')){
          var actId = this.activityId;
          var actRef = activities.child(actId);
          var parents = actRef.child('parents');
          var children = actRef.child('children');

          children.on('value',function(c){
            c.forEach(function(c){
              var cParents = activities.child(c.key()).child('parents');
              parents.on('value',function(p){
                p.forEach(function(p){
                  cParents.child(p.key()).set(true);
                });
              });
              cParents.child(actId).remove(function(error){
                if(error){
                  console.log(error);
                }
              });
            });
          });
          
          actRef.remove(function(error){
            if(error){
              console.log(error);
            }
            else{
              
            }
          });
          delNode('#'+actId);
          this.opened = false;
        }
      },

      // Get user status on this activity (player)
      _getStatus:function(activityId){
        var ref = activities.child(activityId + "/status/" + authData.uid);
        var status;
        ref.once("value",function(s){
          if(s.exists()){
            status = s.val();
          }
          else{
            status = false;
          }
        });
        return status;
      },

      // Update user status when checkbox changes
      _updateStatus:function(e){
        var checkbox = e.target;
        var status = activities.child(this.activityId + '/status/' + authData.uid);
        var approvalReq = this.approvalReq;

        if(this.selected = null){
          return false;
        }

        if(checkbox.checked == true){
          if(approvalReq){
            status.set('pending');
          }
          else{
            status.set('confirmed');
            if(this.isFinal){
              var quest = app.questId;
              quests.child(quest + '/status/' + authData.uid).set('complete',function(error){
                if(error){
                  console.log('error');
                }
                else{
                  badges.child(quest + '/status/' + authData.uid).set('earned');
                }
              });
            }
          }
        }
        else{
          if(this.isFinal){
            var quest = app.questId;
            quests.child(quest + '/status/' + authData.uid).remove();
            badges.child(quest + '/status/' + authData.uid).remove();
          }
          status.remove();
        }
      },

      // Detect wether users status has been confirmed by master
      _confirmed:function(myStatus){
        if(this.approvalReq && myStatus == 'confirmed'){
          return true;
        }
        else{
          return false;
        }
      },

      // Confirm completion request
      _confirm:function(e){
        var activity = this.activityId;
        var user = $(e.target).parents('paper-card').attr('id');
        activities.child(activity + '/status/' + user).set('confirmed', function(error){
          if(error){
            console.log(error);
            return false;
          }
        });
        this.change++;
        toast("Activity completion confirmed.");
      },

      // Reset dialog content on close
      _reset:function(){
        if(!this.activityId){
          this.opened = false;
        }
        if(this.opened == false){
          $('status-list paper-checkbox').attr('checked',false);
          this.list = 'pending';
          $('paper-menu.dropdown-content').attr('selected',null);
        }
        unselect();
      },

      // View status list
      _view:function(){
        this.list = 'all';
      },

      // View confirmation requests
      _back:function(){
        $('paper-checkbox').attr('checked',false);
        this.list = 'pending';
        $('paper-menu.dropdown-content').attr('selected',null);
      },
      
    });
  })();
  </script>
</dom-module>
