<!--
Loading animation shown when app or game is loading
-->
<dom-module id="loading-overlay">
  <template>
    <style>
      :host {
        display: flex;
        justify-content:center;
        align-items:center;
        width:100vw;
        height:100vh;
        z-index: 999;
        position:absolute;
        background-color: #fff;
        text-align: center
      }
      h1{
        color:#fff;
        font-size: 2.5em;
        text-shadow:-2px 2px 2px rgba(0, 0, 0, 0.6); 
        font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        position: relative;
        top:-75px;
      }
      paper-spinner{
        --paper-spinner-layer-1-color: var(--warning-color);
        --paper-spinner-layer-2-color: var(--light-primary-color);
        --paper-spinner-layer-3-color: var(--warning-color);
        --paper-spinner-layer-4-color: var(--light-primary-color);
        width:75px;
        height:75px;
      }
    </style>
    <div>
      <paper-spinner active></paper-spinner>
      <h1>Loading...</h1>
    </div>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'loading-overlay',
    });
  })();
  </script>
</dom-module>
