<!--
Display player data, including: name, email, picture
-->
<dom-module id="player-item">
  <template>
    <style>
      :host {
        display: inline-block;
        width:100%;
      }
      .img-circle{
        width:40px;
        height:40px;
        margin-right:20px;
      }
      .card-content{
        display:flex; 
        align-items:center;
        justify-content:space-between;
      }
      .card-content div{
        flex-grow:2;
      }
      paper-button{
        color:var(--default-primary-color);
      }
      @media (max-width: 700px) {
        img{
          display: none;
        }
        .card-content{
          flex-wrap:wrap;
        }
      }
    </style>
    <firebase-document
      location="{{ref}}"
      data="{{player}}">
    </firebase-document>
    <!-- full display with action buttons and/or content -->
    <template is="dom-if" if="{{!simple}}">
      <paper-card id="{{userId}}" elevation="0">
        <div class="card-content">
          <img src="{{player.image}}" class="img-circle"/>
          <div>
            <strong>{{player.name}}</strong><br/>
            <span hidden="{{noEmail}}">{{player.email}}</span>
          </div>
          <paper-button hidden="{{!removeable}}" on-tap="_remove">Remove</paper-button>
          <content></content>
        </div>
      </paper-card>
    </template>
    <!-- simplified display for dropdown menus -->
    <template is="dom-if" if="{{simple}}">
      <div>
        <strong>{{player.name}}</strong><br/>
        <span hidden="{{noEmail}}">{{player.email}}</span>
      </div>
    </template>
    
  </template>
  <script>
  (function() {

    Polymer({
      is: 'player-item',

      properties: {
        userId: {
          type: String
        },
        gameId: {
          type: String,
          value:null
        },
        ref:{
          computed: '_getUser(userId)'
        },
        checked:{
          type: Boolean,
        },
        removeable:{
          type: Boolean,
          value: false
        },
        simple:{
          type:Boolean,
          value:false
        }
      },

      // Get user data
      _getUser:function(userId){
        return 'radiant-torch-7856.firebaseIO.com/users/' + userId;
      },

      // remove player from game
      _remove: function(e){
        var uid = this.userId;
        if(confirm('Are you sure you want to remove this player?')){
          var roster = new Firebase('radiant-torch-7856.firebaseIO.com/games/' + this.gameId +'/players');
          roster.child(uid).remove();
        }
      }, 

    });
  })();
  </script>
</dom-module>
