<!--
Dialog and form for creating or updating a quest.
-->
<dom-module id="add-quest">
  <template>
    <style>
      :host {
        display: block;
        max-width: 400px;
      }
      iron-autogrow-textarea, .landscape-wrap{
        display:block;
      }
      paper-dialog {
        position: fixed;
        top: 0;
        max-width:100vw;
        overflow: auto;
      }
      label{
        font-weight: normal;
      }
      .picker{
        margin:15px 0;
        background-color: var(--default-primary-color);
        color:#fff;
      }
      paper-fab{
        background-color: var(--default-primary-color);
        @apply(--shadow-elevation-6dp);
        z-index: 10;
      }
      span.alert{
        display: block;
      }
      paper-textarea{
        max-width:300px;
      }
    </style>
    <paper-fab elevation="3" icon="add" on-tap="_openDialog">Create Quest</paper-fab>
    <paper-dialog id="add-quest" entry-animation="scale-up-animation" exit-animation="scale-down-animation" with-backdrop on-iron-overlay-closed="_reset" opened="{{opened}}">
      <h2>{{title}}</h2>
      <paper-dialog-scrollable>
        <template is="dom-if" if="{{opened}}" restamp>
          <form id="add-quest-form"  is="iron-form" onsubmit="_addQuest">

            <!-- Error notification -->
            <span hidden="{{!notification}}" class="alert alert-danger">{{notification}}</span>

            <!-- Name -->
            <paper-input id="add-quest-name" value="{{quest.name}}" name="name" label="Quest Name" placeholder="e.g. Adventures in Space" autofocus required onfocusout="validate()" error-message="Please enter a name for this quest." maxlength="50"></paper-input>

            <!-- Description -->
            <paper-textarea label="Description" value="{{quest.desc}}" placeholder="What will players experience and gain from taking on this quest?" name="desc" id="add-quest-desc" rows="3" max-rows="4" required onfocusout="validate()" error-message="Please enter a description" maxlength="500"></paper-textarea> 

            <!-- Pic -->
            <label class="paper-input style-scope">Emblem</label>
            <div class="landscape-wrap" width="300px" height="150px">
              <img width="100%" class="new-image" src="{{newImage}}"/>
            </div>
            <paper-button class="picker" on-tap="_loadPicker" raised>Select Image</paper-button>
          </form>
        </template>
      </paper-dialog-scrollable>
      <div class="buttons">
        <paper-button class="error" dialog-dismiss on-tap="_reset">Cancel</paper-button>
        <paper-button hidden="{{questId}}" class="success" on-tap="_addQuest">Create</paper-button>
        <paper-button hidden="{{!questId}}" class="success" on-tap="_addQuest">Update</paper-button>
      </div>
    </paper-dialog>
  </template>
  <script>
  (function() {

    Polymer({
      is: 'add-quest',

      properties: {
        newImage: {
          type: String,
          value: 'http://placehold.it/300x150',
          computed:'_getImage(quest)'
        },
        gameId:{
          type: String
        },
        data:{
          type: String
        },
        questId:{
          type: String,
          value:null
        },
        quest:{
          type: Array,
          value:null,
          computed:'_getQuest(questId)'
        },
        title:{
          value:'Add a Quest',
          computed:'_getTitle(questId)'
        },
        notification:{
          value:null
        }
      },

      // Set dialog title based on action
      _getTitle:function(questId){
        if(questId){
          return 'Edit Quest'
        }
        else{
          return 'Add a Quest'
        }
      },

      // Open dialog
      _openDialog:function(e){
        var dialog = document.getElementById('add-quest');
        if (dialog) {
          dialog.open();
        }
      },

      // Get quest data if updating existing
      _getQuest:function(questId){
        if(questId){
          var quest = new Firebase('radiant-torch-7856.firebaseIO.com/quests/'+questId);
          quest.on('value',function(snap){
            quest = snap.val();
          })
          return quest;
        }
        else{
          return null;
        }
      },

      // Set initial image
      _getImage:function(quest){
        if(quest){
          return quest.pic;
        }
        else{
          return 'http://placehold.it/300x150'
        }
      },

      // Add or update quest
      _addQuest:function(){

        // Validate form
        var valid = document.getElementById('add-quest-form').validate();
        if(!valid){
          this.set('notification','Please correct the errors below.');
          event.preventDefault();
          return false;
        }
        else{
          this.set('notification',null);
        }

        var quest = this.questId;
        var name = $('#add-quest-name').val();
        var pic = $('#add-quest-form .new-image').attr('src');
        var desc = $('#add-quest-desc').val();
        var gameId = this.gameId;
        var criteria = 'Completed the ' + name + ' quest';
        var type = 'quest';

        // Update existing quest
        if(quest){
          quests.child(quest).update({
            name:name,
            pic:pic,
            desc:desc
          },function(error){
            if(error){
              console.log(error);
            }
          });

          badges.child(quest).update({
            name:name,
            pic:pic,
            desc:desc,
            criteria:criteria
          },function(error){
            if(error){
              console.log(error);
            }
          });

        } // End update quest
        // Add new quest
        else{
          var newQuest = quests.push({
            name:name,
            pic:pic,
            desc:desc,
            game:gameId
          },function(error){
            if(error){
              console.log(error);
            }
            else{
              var quest = newQuest.key();
              app.questId = quest;

              var newBadge = badges.child(quest).set({
                name:name,
                pic:pic,
                desc:desc,
                game:gameId,
                criteria:criteria,
                type:type,
                quest:newQuest.key()
              },function(error){
                if(error){
                  console.log(error);
                }
              });
            }
          });
        } // End New Quest
        var dialog = document.getElementById('add-quest');
        if (dialog) {
          dialog.close();
        }
      }, // End Add Quest

      // Show image picker
      _loadPicker:function(){
        loadPicker('#add-quest-form .new-image');
      },

      // Reset dialog on close
      _reset:function(){
        app.questId = null;
        this.set('notification',null);
      }

    });
  })();
  </script>
</dom-module>
