<!--
Login button based on selected role (game master vs. player)
-->
<dom-module id="login-button">
  <template>
    <style>
      :host {
        display: inline-block;
        margin: 0 8px 24px;
      }
      paper-button{
        @apply(--paper-button);
        background-color: var(--default-primary-color);
        color:#fff;
        text-align: center;
        min-width: 180px;
      }
    </style>
    <paper-button class$="{{class}}" class="primary" raised on-tap="_login"><content></content></paper-button>
  </template>
  <script>
  (function() {

    Polymer({
      is: 'login-button',

      properties: {
        route:{
          type:String,
          value:'home',
          notify:true
        },
        myRole:{
          type:String
        },
        master:{
          value:true
        }
      },

      observers:[
        '_setMaster(myRole)'
      ],

      // Get selected role on sign up
      _setMaster:function(myRole){
        if(myRole == 'admin'){
          this.set('master',true);
        }
        else if(myRole == 'player'){
          this.set('master', false);
        }
      },

      // Login via Google
      _login:function(){
        var ref = new Firebase('radiant-torch-7856.firebaseIO.com/');
        var users = new Firebase('radiant-torch-7856.firebaseIO.com/users');
        var games = new Firebase('radiant-torch-7856.firebaseIO.com/games');
        var master = this.master;

        ref.authWithOAuthPopup('google', function(error, authData) { 

          if (error) {
            console.log('Login Failed!', error);
          } else {
            ref.onAuth(function(authData) {
              var invitees = new Firebase('radiant-torch-7856.firebaseIO.com/invitees');
              if(authData){
                var email = authData.google.email;
                var username = email.replace(/[^\w\s]/gi, '');
                var myData = users.child(authData.uid);

                // Update user in database
                myData.update({
                  name: authData.google.displayName,
                  image: authData.google.profileImageURL,
                  email: email,
                  username: username,
                  master:master
                });

                // Determine whether user has games
                countGames(authData.uid,email,username);

              }
            });
            // Go to home page on successful login
            app.route = 'home';
            page.redirect('/');
          }
        },
        {
          scope: 'email'
        });
      },

    });
  })();
  </script>
</dom-module>
