<!--
Row in a leaderboard containing player rank, player details (pic, email, etc.), and current point total.
-->
<dom-module id="leaderboard-item">
  <template>
    <style>
      :host {
        display: block;
      }
      .points{
        padding:10px;
        font-style:italic;
      }
      .rank{
        display: flex;
        align-content: center;
        justify-content:center;
        float:left;
        clear:left;
        width:56px;
        padding:24px 0 0 16px;
        font-size:1.2em;
        font-weight: bold;
      }
      player-item{
        width:90%;
        width:calc(100% - 60px);
      }
      .you{
        background-color:var(--warning-color);
        padding:5px 2px;
      }
      .you .rank{
        color:#fff;
      }
      .you player-item{
        border-radius: 12px;
      }
      .you .points{
        color:var(--default-primary-color);
        font-weight: bold;
        font-size: 16px;
      }
      @media (max-width: 700px) {
        .points{
          display: block;
        }
      }
    </style>
    <div class$="{{_getClass(rank)}}">
      <span class="rank">{{rank}}</span>
      <player-item no-email="{{!admin}}" game-id="{{gameId}}" user-id="{{item.__firebaseKey__}}">
        <span class="points">{{item.current}} pts</span>
      </player-item>
    </div>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'leaderboard-item',

      properties: {
        rank: {
          type: String
        },
        item:{
          type: Array
        }
      },

      // Highlight player in leaderboard
      _getClass:function(rank){
        if(rank == 'YOU'){
          return 'you';
        }
      }
    });
  })();
  </script>
</dom-module>
