<!--
Display a list of badges
-->

<dom-module id="badge-list">
  <template>
    <style>
      :host {
        display: block;
        display:flex;
        flex-wrap:wrap;
        justify-content:flex-start;
      }
      paper-dialog{
        width:560px;
      }
      .close{
        padding:8px;
        margin:0;
        display: inline-block;
        position:absolute;
        top:0;
        right:0;
        z-index: 15;
      }
      @media (max-width: 600px) {
        paper-dialog{
          width:100vw;
          min-height:100vh;
          margin:0;
          overflow: auto;
        }
      }
    </style>
    <firebase-collection
      location="radiant-torch-7856.firebaseIO.com/badges"
      order-by-child="game"
      equal-to="{{gameId}}"
      data="{{badges}}">
    </firebase-collection>
    
    <div hidden="{{!empty}}">
      <!-- Admin instructions if there are no badges yet -->
      <div hidden="{{!admin}}">
        <h2>Quest Badges</h2>
        <p>A badge is automatically created for each quest and awarded when a player completes one or more final activities in the quest. Quest badges can only be updated by editing a quest.</p>
        <h2>Custom Badges</h2>
        <p>Create badges for other accomplishments and manually award them to one or more students here. Mark a badge as 'secret' to keep it from showing in the players' list of available badges; it will only show to students you award it to. Use a combination of secret and non-secret badges to keep players involved in the game!</p>
        <h2>Getting Started</h2>
        <p>To create a badge, click the '+' button.</p>
      </div>
      <!-- Text shown to players if there are no badges -->
      <div hidden="{{admin}}">
        <p>There are no badges here. Move along.</p>
      </div>
    </div>
    <!-- List of badges -->
    <template is="dom-repeat" items="{{badges}}" as="badge" filter="{{filter}}" observe="badge.recipients admin" on-dom-change="count">
      <badge-item badge-id="{{badge.__firebaseKey__}}" admin="{{admin}}" item-id="{{itemId}}"></badge-item>      
    </template>

    <!--Award Badge Dialog-->
    <paper-dialog id="award-badge" on-iron-overlay-closed="_reset" entry-animation="scale-up-animation" exit-animation="scale-down-animation" with-backdrop>
      <h2></h2>
      <paper-icon-button class="close" icon="close" dialog-dismiss></paper-icon-button>
      <status-list item-id="{{itemId}}" item-type="badges" removeable="false" game-id="{{gameId}}" editable></status-list>
    </paper-dialog>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'badge-list',

      properties: {
        gameId: {
          type: String
        },
        itemId:{
          type: String
        },
        admin:{
          type: Boolean
        },
        filter:{
          type: String,
          value: null
        },
        userId:{
          type: String,
          value:function(){
            return authData.uid;
          }
        },
        badges:{
          value:''
        },
        empty:{
          value:true
        }
      },

      // Update badge list if game and/or admin status changes
      observers:[
        '_admin(gameId,admin)',
        'count(gameId)'
      ],

      // Count number of badges (to show instructions if none)
      count:function(gameId){
        var count = this.badges.length;
        if(count == 0){
          this.set('empty', true);
        }
        else{
          this.set('empty',false);
        }
      },

      // Display a box around player badges to separate available and received
      _admin:function(){
        if(this.admin == true){
          this.toggleClass('well',false);
        }
        else{
          this.toggleClass('well',true);
        }
      },

      // Get received badges
      hasReceived:function(badge){
        var uid = this.userId;
        var received;

        badges.child(badge.__firebaseKey__+'/status/'+uid).once('value',function(b){
          if(b.val() == 'earned'){
            received = true;
          }
        });

        return received == true;
      },

      // Get available badges
      isAvailable:function(badge){
        var uid = this.userId;
        var received;

        badges.child(badge.__firebaseKey__+'/status/'+uid).once('value',function(b){
          if(b.val() == 'earned'){
            received = true;
          }
          else{
            received = false
          }
        });

        return received == false && !badge.secret;

      },

      // Reset add badge dialog on close
      _reset:function(){
        app.badgeId = null;
      }
    });
  })();
  </script>
</dom-module>
