<!--
Display settings options
-->
<dom-module id="game-settings">
  <template>
    <style>
      :host {
        display: block;
      }
      .toggle{
        display:block;
        text-align:left;
        padding:0;
        margin:0;
        font-size:1.4em;
        color:var(--default-primary-color);
      }
      div.box{
        border:1px solid #ddd;
        margin-bottom:20px;
        padding:20px;
        border-radius: 10px;
      }
      .delete{
        background-color:var(--danger-color);
        color:#fff;
        margin:10px 0;
      }
      label{
        display:block;
      }
      iron-collapse{
        margin:20px 10px 0;
        padding:10px;
      }
      .rotate{
        -ms-transform: rotate(-90deg); /* IE 9 */
        -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
        transform: rotate(-90deg);
      }
      h2{
        margin-top: 1em;
      }
      gold-email-input{
        width:calc(100% - 50px);
        display:inline-block;
      }

    </style>
    <div class="row">
      <div class="col-lg-6">
        <div class="box">
          <!-- Add/Remove Players -->
          <paper-button class="toggle" on-tap="toggle"><iron-icon class="rotate" icon="arrow-drop-down"></iron-icon> Manage Players</paper-button>
          <iron-collapse id="manage-players">
            <form on-submit="addPlayer" is="iron-form" on-submit="addPlayer">
              <gold-email-input id="add-player" required onfocusout="validate()" error-message="Please enter a valid email" label="Add a Player" placeholder="student@myschool.org" invalid="{{invalid}}">
              </gold-email-input>
              <paper-icon-button suffix class="primary" on-tap="addPlayer" icon="add" alt="add" title="Add" disabled="{{invalid}}">
              </paper-icon-button>
            </form>
            <!-- Display active players (accepted invite) -->
            <h2 hidden="{{!players}}">Active Players</h2>
            <player-list game-id="{{gameId}}" removeable="true"></player-list>
            <!-- Display invited players -->
            <h2 hidden="{{!invited}}">Invited Players</h2>
            <invited-list game-id="{{gameId}}"></invited-list>
          </iron-collapse>
        </div>
      </div>
      <!-- Game settings -->
      <div class="col-lg-6">
        <div class="box">
          <paper-button class="toggle" on-tap="toggle"><iron-icon class="rotate" icon="arrow-drop-down"></iron-icon> Game Settings</paper-button>
          <iron-collapse id="manage-game">
            <!-- Toggle approval requirement-->
            <label for="approval-req">
              <paper-toggle-button id="approval-req" checked="{{approvalReq}}" onChange="{{_setApproval}}"></paper-toggle-button>
              Game master must approve activity completion
            </label>
            <!-- Delete game -->
            <paper-button hidden="{{!admin}}" class="delete" raised on-tap="deleteGame">Delete Game</paper-button>
          </iron-collapse>
        </div>
      </div>
    </div>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'game-settings',

      properties: {
        gameId: {
          type: String,
        },
        approvalReq:{
          type: Boolean,
          computed:'_getApproval(gameId)'
        },
        playerCount:{
          type: Number,
          observer:'_getPlayers'
        },
        players:{
          type: Boolean,
          value:false
        },
        invitedCount:{
          type: Number,
          observer:'_getInv'
        },
        invited:{
          type: Boolean,
          value:false
        }
      },

      // show/hide collapsed content
      toggle:function(e){
        var clicked = e.target;
        var icon = clicked['icon'];
        if(icon == 'arrow-drop-down'){
          var content = $(clicked).parent().next('iron-collapse');
          $(clicked).toggleClass('rotate');
        }
        else{
          var content = $(clicked).next('iron-collapse');
          $(clicked).children().toggleClass('rotate');
        }
        $(content).toggle();
      },

      // Invite player to the game
      addPlayer:function(){
        var input = document.querySelector('#add-player');
        var email = input.value.toLowerCase();
        var enrolled;
        
        games.child(gameID+'/players').orderByValue().equalTo(email).on('value', function(snap){
          enrolled = snap.exists();
        })

        if(email){
          if(email == myEmail){
            alert('You cannot enroll yourself');
            return false;
          }
          else{
            if(enrolled){
              alert('Player already enrolled');
              return false;
            }
            else{
              var username = email.replace(/[^\w\s]/gi, '');
              invitees.child(gameID+'/'+username).set(email);
              input.value = '';
              toast(email + " has been invited.")
            }
          }
        }
        event.preventDefault();
        return false;
      },

      // Remove a user from the game (does not delete their data)
      removeUser:function(){
        if(confirm('Are you sure you want to leave this game?')){
            var uid = this.id;
            unenroll(uid);
          }
      },

      // Get current status of approval setting
      _getApproval:function(gameId){
        var status;
        games.child(gameId+'/approvalReq').on('value',function(snap){
          if(snap.exists()){
            status = snap.val();
          }
          else{
            status = true;
          }
        });
        return status;
      },

      // Toggle approval setting
      _setApproval:function(){
        games.child(gameId).child('approvalReq').set(approvalReq);
      },

      // Delete this game
      deleteGame:function(){
        if(confirm('Are you sure you want to delete this game?')){
          app.route = 'home';
          $('#manage-game').hide();
          games.child(this.gameId).remove();
          $('iron-collapse').hide();
          $('.box .toggle iron-icon').addClass('rotate');
        }
        else{
          return false;
        }
      },

      // Get list of invited players
      _getInv:function(){
        if(this.invitedCount > 0){
          this.set('invited',true);
        }
        else{
          this.set('invited',false);
        }
      },

      // Get list of active players
      _getPlayers:function(){
        if(this.playerCount > 0){
          this.set('players',true);
        }
        else{
          this.set('players',false)
        }
      }

    });
  })();
  </script>
</dom-module>
