<!--
Display list of emails invited to game but have not yet accepted
-->
<dom-module id="invited-list">
  <template>
    <style>
      :host {
        display: block;
      }
      .card-content{
        display: flex;
        justify-content:space-between;
        align-items:center;
      }
      paper-card{
        display: inline-block;
        width:100%;
      }
      paper-button{
        color:var(--default-primary-color);
      }
    </style>
    <firebase-collection
      location="{{ref}}"
      order-by-key
      data="{{invitees}}">
    </firebase-collection>
      <div id="invited-list">
        <template is="dom-repeat" items="{{invitees}}" as="invitee">
        <paper-card id="{{invitee.__firebaseKey__}}" elevation="0">
          <div class="card-content">
           <span>[[invitee.value]]</span>
           <paper-button on-tap="_remove">Remove</paper-button>
          </div>
        </paper-card>
        </template>
      </div>
    </template>
  <script>
  (function() {

    Polymer({
      is: 'invited-list',

      properties: {
        gameId: {
          type: String,
        },
        ref:{
          computed:'_getInvitees(gameId)'
        },
      },

      // Get list of invitees
      _getInvitees: function(gameId){
        return 'radiant-torch-7856.firebaseIO.com/invitees/' + gameId;
      },

      // Uninvite player
      _remove: function(e){
        var item = e.target;
        var uid = $(item).parents('paper-card').attr('id');
        var invitees = new Firebase('radiant-torch-7856.firebaseIO.com/invitees/');
        invitees.child(this.gameId).child(uid).remove();
      },

    });
  })();
  </script>
</dom-module>
