<!--
List of players in a game with their status for a specified item, e.g. whether they've received a specified badge.
-->
<dom-module id="status-list">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-checkbox{
        display:block;
        --paper-checkbox-label-spacing:16px;
      }
      .toggle{
        padding-top:20px;
      }
      paper-dropdown-menu{
        width:80%;
        position: relative;
        top:-16px;
        max-width: 250px;
      }
      label{
        display: block;
      }
      label[for="toggle"]{
        min-width: 150px;
        padding-top:20px;
      }
      label span{
        text-decoration: underline;
      }
      label span:hover{
        color:var(--dark-primary-color);
      }
    </style>
    

    <div hidden="{{!editable}}" class="layout horizontal bottom" >
      <paper-checkbox class="toggle" checked="{{checkAll}}"></paper-checkbox>
      <label for="toggle">Select <span on-tap="_all">All</span> / <span on-tap="_none">None</span></label>
      <span class="flex"></span>
      <!-- Update status options -->
      <paper-dropdown-menu id="select-status" label="Update Selected">
        <paper-menu class="dropdown-content" attr-for-selected="value" selected="{{newStatus}}">
        <template is="dom-repeat" items="{{options}}" as="option">
          <paper-item value="{{option.value}}">{{option.text}}</paper-item>
        </template>
        </paper-menu>
      </paper-dropdown-menu>
    </div>
    <!-- No checkbox if list is view-only -->
    <template is="dom-if" if="{{!editable}}">
      <template is="dom-repeat" items="{{players}}" as="player">
          <player-item user-id="{{player.__firebaseKey__}}">
            <status-item item-type="[[itemType]]" item-id="[[itemId]]" user-id="{{player.__firebaseKey__}}"></status-item>
          </player-item>
      </template>
    </template>
    <!-- Include checkbox if list is editable -->
    <template is="dom-if" if="{{editable}}">
      <template is="dom-repeat" items="{{players}}" as="player" sort="_sort">
        <paper-checkbox id="{{player.__firebaseKey__}}" checked="[[checked]]">
          <player-item user-id="{{player.__firebaseKey__}}">
            <status-item item-type="[[itemType]]" item-id="{{itemId}}" user-id="{{player.__firebaseKey__}}"></status-item>
          </player-item>
        </paper-checkbox>
      </template>
    </template>
    <!-- List of players -->
    <firebase-collection
      location="{{playRef}}"
      order-by-key
      data="{{players}}">
    </firebase-collection>
  </template>
  <script>
  (function() {

    Polymer({
      is: 'status-list',

      properties: {
        gameId: {
          type: String
        },
        itemId:{
          type: String
        },
        itemType:{
          type: String,
          observer:'_getType',
          notify:false,
          reflectToAttribute:false
        },
        empty:{
          type: Boolean
        },
        selectable:{
          type: Boolean,
          value: null
        },
        removeable:{
          type: Boolean,
          value: null
        },
        playRef:{
          type: String,
          computed:'_getPlayers(gameId)',
          notify:true
        },
        status:{
          type: String,
          value:'incomplete'
        },
        newStatus:{
          type: String,
          observer:'_updateStatus'
        },
        checkAll:{
          type: Boolean,
          observer:'_check',
        },
        change:{
          type: Number,
          notify:true
        },
        editable:{
          type: Boolean,
          value:false
        },
        players:{
          type:Array
        },
        isFinal:{
          type:Boolean
        }
      },

      // DB: Players list
      _getPlayers:function(gameId){
        return 'radiant-torch-7856.firebaseIO.com/games/' + gameId +'/players';
      },

      // check this item
      _check:function(){
        if(this.checkAll){
          this.checked = true;
        }
        else{
          this.checked = false;
        }
      },

      // Check all items
      _all:function(){
        this.checkAll = false;
        this.checkAll = true;
      },

      // Uncheck all items
      _none:function(){
        this.checkAll = true;
        this.checkAll = false;
      },

      // Generate options for dropdown menu
      _getType:function(){
        if(this.itemType == 'badges'){
          this.options = [
            {"value":"earned","text":"Award Badge"},
            {"value":"revoked","text":"Revoke Badge"}
          ]      
        }
        else{
          this.options = [
            {"value":"incomplete","text":"Incomplete"},
            {"value":"pending","text":"Pending"},
            {"value":"confirmed","text":"Complete"}
          ]
        }
      },

      // update player status
      _updateStatus:function(newStatus){
        var itemId = this.itemId;
        var itemType = this.itemType;
        var isFinal = this.isFinal;
        var scope = this;

        if(this.newStatus == null){
          return false;
        }

        $('paper-checkbox').not('.toggle').each(function(){
          if($(this).prop('checked')){
            var user = $(this).attr('id');
            var ref = new Firebase('radiant-torch-7856.firebaseIO.com/' + itemType);
            ref.child(itemId + '/status/' + user).set(newStatus,function(error){
              if(error){
                console.log(error);
                return false;
              }
              else{
                if(isFinal && newStatus == 'confirmed'){
                  var quest = app.questId;
                  quests.child(quest + '/status/' + user).set('complete',function(error){
                    if(error){
                      console.log('error');
                    }
                    else{
                      badges.child(quest + '/status/' +user).set('earned');
                    }
                  });
                }
                else if(isFinal && newStatus != 'confirmed'){
                  quests.child(quest + '/status/' + user).remove();
                  badges.child(quest + '/status/' +user).remove();
                }
                toast("Status updated successfully.");
                scope.set('newStatus',null);
              }
            });
          }
        });
        
        this.change++;
      },

      // Sort players alphabetically by email
      _sort:function(a, b) {
        if (a.value === b.value) return 0;
        return a.value < b.value ? -1 : 1;
      }

    });
  })();
  </script>
</dom-module>
