<!--
List of games player has been invited to
-->
<dom-module id="pending-list">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- DB: get pending invites -->
    <firebase-collection
      location="radiant-torch-7856.firebaseIO.com/invitees"
      order-by-child="{{username}}"
      equal-to="[[email]]"
      data="{{games}}">
    </firebase-collection>

    <!-- list games -->
    <template is="dom-repeat" items="{{games}}" as="game">
      <pending-item game-id="{{game.__firebaseKey__}}" username="{{username}}" email="{{email}}" uid="{{uid}}"></pending-item>
    </template>
  </template>
  <script>
  (function() {

    Polymer({
      is: 'pending-list',

      properties: {
        username:{
          computed:'_getUsername(email)'
        },
        email:{
          type:String,
        },
        uid:{
          type:String
        }
      },

      // change user email to username for DB call
      _getUsername:function(email){
        if(email){
          return email.replace(/[^\w\s]/gi, '');
        }
      }

    });
  })();
  </script>
</dom-module>
