<!--
Prompt game master to reset leaderboard after 7 days since last reset. Displayed on dasboard.
-->
<dom-module id="reset-prompt">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <p class="alert alert-warning" hidden="{{prompt(days)}}" exit-animation="fade-out-animation">It has been <strong><span>{{days}}</span> days</strong> since the leaderboard was reset. Would you like to <a on-tap="_reset">reset it now</a>?</p>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'reset-prompt',

      properties: {
        gameId:{
          type:String
        },
        reset:{
          computed:'_getReset(gameId)'
        },
        days:{
          type:Number
        }
      },

      observers:[
        '_getDays(reset)'
      ],

      // Get date of last reset
      _getReset:function(gameId){
        var reset;
        games.child(gameId+'/reset').on('value',function(s){
          reset = s.val();
        });
        return reset;
      },

      // Calculate days since last reset
      _getDays:function(reset){
        var today = new Date().getTime();
        var diff = Math.floor((today - reset)/86400000);
        this.set('days',diff);
      },

      // Display prompt if it has been 7 or more days
      prompt:function(days){
        if(days > 6){
          return false;
        }
        else{
          return true;
        }
      },

      // Reset game leaderboard and update reset date
      _reset:function(){
        var game = this.gameId;
        resetLB(game);
        this.set('days',0);
      }
    });
  })();
  </script>
</dom-module>
