<!-- 
Button to delete current class
-->
<dom-module id="delete-class">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <paper-button class="delete error" raised onclick="{{_deleteClass}}">Delete Class</paper-button>
  </template>
  <script>
  (function() {

    Polymer({
      is: 'delete-class',

      properties: {
        classId: {
          type: String
        },
        userId: {
          type: String
        }
      },

      _deleteClass: function(){
        if(confirm('Are you sure you want to delete this class?')){
          var users = new Firebase('radiant-torch-7856.firebaseIO.com/users');
          var games = new Firebase('radiant-torch-7856.firebaseIO.com/games');

          users.child(userId+'/admin/'+classId).remove(function(error) {
            if (error) {
              console.log('Error updating data:', error);
            }
            else{
              games.child(classId).remove();
            }
          });
        }
      }

    });
  })();
  </script>
</dom-module>
